.l-footer {
	display: grid;
	place-content: center;
	margin-top: 2rem;
	min-height: 400px;
	background-color: var(--color-black);
	color: var(--color-white);
}

.footer-socials {
	display: flex;
	justify-content: space-evenly;
	padding-bottom: 1rem;
	border-bottom: 1px solid var(--color-gray-800);
}
