.sel {
	/*
    font-style: italic;
    font-weight: bold;
    font-size: 14px;
	font-family: verdana;
    */

	margin: 10px 5px; /* haut, droite, bas, gauche */

	/*
    background-color: #f30;
    background-image: url(mon-image);
    background-repeat: no-repeat;
    background-position: top center;
    */

	border: 1px solid #000000;
	background: #ff3300 url("mon-image.png") no-repeat top center;

	/*
	border-width: 1px;
	border-style: solid;
	border-color: #000;
    */

	font: italic 700 14px verdana;
}

:root {
	--var-name: value;
	--main-bg-color: #000000;
	--main-text-color: #ffffff;
}

body {
	background-color: var(--main-bg-color);
	color: var(--main-text-color);
}

.scoped-var {
	--space: 8px;

	padding: var(--space);
}

.default-var-val {
	/* .sel2[style="--space: 16px"] */
	padding: var(--space, 8px); /* 8px est la valeur par défaut */
}
