* {
	margin: 0;
	padding: 0;
}

p {
	color: #0000ff;
}

.class {
	font-weight: 700;
}

#id {
	background: #808080;
}

a[target] {
	text-decoration: underline;
}

h1,
.h1-like {
	color: #ff0000;
}

.sel .child {
}

label + input {
}

header ~ footer {
}

.sel > .child {
}

/* owl selector */
* + * {
}
