* {
	margin: 0;
	padding: 0;
}

p {
	color: blue;
}

.class {
	font-weight: bold;
}

#id {
	background: gray;
}

a[target] {
	text-decoration: underline;
}

h1,
.h1-like {
	color: red;
}

.sel .child {
}

label + input {
}

header ~ footer {
}

.sel > .child {
}
