body {
	display: flex;
	height: 100vh;
	margin: 0;
	padding: 0;
	background: url("../img/DBD7-24-3.jpg.webp") no-repeat center center fixed;
	background-size: cover;
	color: #2c3e50;
	font-family: Roboto, sans-serif;
}

body:has(dialog[open]) {
	overflow: hidden;
	background-color: rgb(0 0 0 / 50%);

	:not(.container, dialog[open], dialog[open] *) {
		filter: blur(5px);
		pointer-events: none;
		user-select: none;
	}

	dialog[open] {
		position: fixed;
		inset: 0;
		width: 80ch;
	}

	dialog[open],
	dialog[open] * {
		z-index: 1;
	}
}

.containers {
	width: 60%;
	margin: auto;
	padding: 20px;
	border-radius: 10px;
	background: rgb(255 255 255 / 90%);
	box-shadow: 0 10px 20px rgb(0 0 0 / 10%);
	text-align: left;
}

ol {
	position: fixed;
	left: 20px;
}

button:not(.btn) {
	display: block;
	width: 100%;
	padding: 10px 15px;
	transition: all 0.3s ease;
	border: none;
	border-radius: 5px;
	background: #bdc3c7;
	color: #2c3e50;
	font-size: 14px;
	font-weight: 700;
	cursor: pointer;
}

button:not(.btn):hover {
	transform: scale(1.04);
	background: #3498db;
	color: #ffffff;
}

button.selected {
	transform: scale(1.1);
	background: #2ecc71;
	box-shadow: 0 5px 15px rgb(46 204 113 / 40%);
	color: white;
	font-size: 16px;
	font-weight: 700;
}

#result-section {
	height: auto;
	min-height: 200px;
	margin-top: 20px;
	padding: 15px;
	overflow: auto;
	border-radius: 10px;
	background: #ffffff;
	box-shadow: 0 5px 15px rgb(0 0 0 / 10%);
}
