<h1>{{ 'registration.confirm_email.title' | trans }}</h1>

<p>
	{{ 'registration.confirm_email.paragraph1' | trans }} <br><br>
	<a href="{{ signedUrl|raw }}">Confirm my Email</a>.
	{{ 'registration.confirm_email.paragraph2' | trans({
		'%expire_in%': expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle')
	}) }}
</p>
