.navbar {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	gap: 16px;

	a {
		color: var(--text);
	}

	a.active,
	a:not(.logo):hover {
		text-decoration: underline;
		text-shadow: none;
		mix-blend-mode: difference;
	}
}
