<article>
	<h1>Directives structurelles</h1>

	<div class="ng-if" hidden>
		<label for="intern">Intern : </label>
		<input type="text" list="interns" [(ngModel)]="internModel">

		<div *ngIf="interns.includes(internModel)">
			<button (click)="markAsAway()">Marquer absent</button>
			<button (click)="markAsNoLongerAway()">Marquer présent</button>
			<p *ngIf="isAway">Le stagiaire <strong>{{ internModel }}</strong> est absent</p>
		</div>
	</div>

	<div class="ng-for" hidden>
		<h2>Liste des formateurs</h2>
		<ul>
			<li *ngFor="let trainer of trainers">
				{{ trainer }}
			</li>
		</ul>

		<datalist id="trainers">
			<option *ngFor="let trainer of trainers" [value]="trainer">
				{{ trainer }}
			</option>
		</datalist>
	</div>

	<div class="ng-switch" hidden>
		<p>Choisir le role</p>
		<select [(ngModel)]="role">
			<option [value]="Role.Admin">Admin</option>
			<option [value]="Role.Trainer">Formateur</option>
			<option [value]="Role.Intern">Intern</option>
		</select>

		<ul [ngSwitch]="role">
			<li *ngSwitchCase="Role.Admin">Tu es admin</li>
			<li *ngSwitchCase="Role.Trainer">Tu es formateur</li>
			<li *ngSwitchCase="Role.Intern">Tu es stagiaire</li>
		</ul>

	</div>

	<div class="exo1" hidden>
		<p *ngIf="isLoggedIn">Bienvenue sur votre espace stagiaire</p>
	</div>

	<div class="exo2" hidden>
		<label>
			État de la formation :
			<input type="checkbox" [(ngModel)]="isTrainingActive">
		</label>

		<ng-container *ngIf="isTrainingActive; else pause">
			<p>Formation en cours</p>
		</ng-container>
		<ng-template #pause>
			<p>En pause</p>
		</ng-template>
	</div>

	<div class="exo3" hidden>
		<input [(ngModel)]="score" type="number" min="0" max="20">

		<ng-container *ngIf="score >= 10; else failed">
			<p>Vous avez réussie</p>
		</ng-container>
		<ng-template #failed>
			<p>Vous avez échoué</p>
		</ng-template>
	</div>

	<div class="exo4" hidden>
		<label for="trainer-available">
			À cocher :
			<input [(ngModel)]="isTrainerAvailable" type="checkbox" id="trainer-available">
		</label>
		<p *ngIf="isTrainerAvailable">Formateur disponible</p>
	</div>

	<div class="exo5" hidden>
		<h2>Liste des stagiaires</h2>
		<ul>
			<li *ngFor="let intern of interns">
				{{ intern }}
			</li>
		</ul>
	</div>

	<div class="exo6" hidden>
		<input [(ngModel)]="internModel" type="text" placeholder="Timothy">
		<button (click)="addIntern()">Ajouter le stagiaire</button>
	</div>

	<div class="exo7" hidden>
		<div class="flex" style="--gap: 0;">
			<input
				[(ngModel)]="trainingModel"
				type="text"
				placeholder="Nom de formation"
				class="card-input flex-full"
			>
			<button class="card-btn" (click)="addTraining()">Ajouter</button>
		</div>
		<div class="cards">
			<article *ngFor="let training of trainings" class="card">
				<h1 class="card-title">{{ training }}</h1>
			</article>
		</div>
	</div>

	<div class="exo8" hidden>
		<ul>
			<li style="list-style: none;counter-reset:chapter-count 1;">
				<input placeholder="Nom" type="text" [(ngModel)]="evaluationNom">
				<input placeholder="Note" type="number" min="0" max="20" [(ngModel)]="evaluationNote">
				<button (click)="addEvaluation()">Ajouter</button>
			</li>
			<li *ngFor="let evaluation of evaluations">
				Evaluation de {{ evaluation.nom }} : {{ evaluation.note }}/20
				<button (click)="delEvaluation(evaluation)">x</button>
			</li>
		</ul>
		<p *ngIf="evaluationMoyenne >=0">
			La moyenne des évaluations est de {{ evaluationMoyenne }}
		</p>


	</div>

	<div class="ng-class">
		<div [ngClass]="myClass">
			hello
		</div>

		<div [ngClass]="{ hello: isHello, world: isWorld }">
			hello world
		</div>

		<button (click)="isHello = true" class="btn btn-primary">Hello</button>
		<button (click)="isWorld = true" class="btn btn-secondary">World</button>

		<div [ngClass]="color">
			hello color
		</div>
		<button (click)="color = 'red'" class="btn btn-danger">Changer couleur</button>
	</div>

	<div class="ng-style">
		<div [ngStyle]="myStyle">
			hello style
		</div>

		<button (click)="changeStyle('blue', '22px')">
			changer
		</button>
	</div>
</article>
