
body:has(:popover-open) {
  overflow: hidden;

  pointer-events: none;
  user-select: none;

  ::backdrop {
    animation: 2s while-true alternate infinite ease-in-out;
    background-color: rgb(0 0 0 / 50%);
  }

  :popover-open {
    position: fixed;
    inset: 0;
  }

  :popover-open,
  :popover-open * {
    z-index: 1;
  }

  [popover] {
    pointer-events: auto;
    user-select: all;
  }
}
