:root {
	--bg-color: #212121;
	--text-color: #e5e5e5;
	--bg-color_alt: var(--text-color);
	--text-color_alt: var(--bg-color);
}

html,
body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;

	color-scheme: dark;
}

h1 {
	margin: 0;
}

body {
	position: relative;
}

main {
	background-color: var(--main-bg-color, var(--bg-color_alt));
	color: var(--main-text-color, var(--text-color_alt));
}

main {
	position: absolute;
	inset: 0;
	inset-block-start: unset;

	@media screen and (min-width: 600px) and (max-width: 768px) {
		inset: 0;
		inset-inline-end: unset;
	}

	@media screen and (max-width: 601px) {
		position: static;
	}
}
