:host {
  align-content: center;
  margin-inline: auto;
}

.spinner-bar {
  animation: spinner-bars-animation 0.8s linear infinite;
  animation-delay: -0.8s;
}

.spinner-bars-2 {
  animation-delay: -0.65s;
}

.spinner-bars-3 {
  animation-delay: -0.5s;
}

@keyframes spinner-bars-animation {
  0% {
    y: 1px;
    height: 22px;
  }
  93.75% {
    y: 5px;
    height: 14px;
    opacity: 0.2;
  }
}
