header {
	display: grid;
	align-items: center;
	justify-content: center;
	border-radius: 8px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	background: linear-gradient(to right, rgb(224 172 98), rgb(212 190 87));
}

ul {
	display: flex;
	gap: 1rem;
	list-style: none;
}

ul a {
	padding: 4px;
	border: 3px solid transparent;
	color: #212121;
	text-decoration: none;

	&:hover,
	&.active {
		border-radius: 4px;
		border-color: #e9ff1f;
	}

	&.active {
		background: #f1e715;
        color: #347706;
		font-weight: 700;
	}
}
