.vscode/
package.json
package-lock.json
pnpm-lock.yaml
tsconfig.json
node_modules/
biome.json
target/
.DS_Store
*.bmp
*.pdf
*.docx
*.png
*.jpg
*.jpeg

!html-css/cours/*/package.json
!javascript/react/*/package.json
