.parcel-cache/
.vscode/
dist/
node_modules/
target/

.DS_Store
*.bmp
*.pdf
*.docx
*.png
*.jpg
*.jpeg
*.webp

package-lock.json
pnpm-lock.yaml
composer.lock

# HTML-CSS
!html-css/.vscode/
!html-css/.vscode/settings.json
!html-css/cours/**/package.json
!html-css/scss/**/package.json

# JS / TS - Angular / React / ...
!javascript/.vscode/
!javascript/.vscode/settings.json
!javascript/react/**/package.json

!typescript/.vscode/
!typescript/.vscode/settings.json

# SQL
!mysql/.vscode/
!mysql/.vscode/settings.json

# PHP / Symfony
!php/.vscode/
!php/.vscode/settings.json
