[submodule "javascript/practices/vanilla-hotel"]
	path = javascript/practices/vanilla-hotel
	url = https://github.com/carina2023808/hotel-management
[submodule "php/practices/vanilla-zakville"]
	path = php/practices/vanilla-zakville
	url = https://github.com/zakka88/ZakVille
