:root {
    --color-red: #e56868;
}

html,
body {
	color-scheme: dark;
	zoom: 2;
}

a {
	display: inline-block;
	padding: 8px;
	color: var(--color-red);
}

a:hover {
	color: #008000;
}

a:link {
	background-color: #ffff00;
}

a:active {
	text-decoration: underline wavy;
}

a:focus-visible {
	background-color: #8a2be2;
}

input {
	height: 1rem;
	border: none;
	outline: none;
	color: #ffffff;
}

input:focus {
	background-color: #8a2be2;
}

input:disabled {
	opacity: 50%;
}

input[type="checkbox"]:checked {
	outline: 2px solid #0000ff;
}

progress:indeterminate {
	outline: 2px solid #0000ff;
}

article {
	border: 3px solid transparent;
}

article:target {
	border-color: #ff0000;
}

div {
	height: 40px;
}

div:nth-child(2n + 1) {
	background: #ff0000;
}

div:nth-of-type(5) {
	background: #008000;
}
