#profile-page {
	max-width: 80ch;
	margin-inline: auto;
	gap: 32px;
	> * {
		width: 100%;
	}
}

#profile-page img {
	width: 100px;
	height: 100px;
}

.welcome {
	display: flex;
	justify-content: space-between;
	gap: var(--space2);
}
