.users-list-cards {
	display: flex;
	gap: 1rem;
}

.users-list-cards dialog h1 {
	font-size: 2.5rem;
}

.users-list-cards dialog {
	padding: 1rem;

	border: 4px solid white;
	box-shadow: -1px -2px 3px #7dadd5, 1px 2px 3px #2a66d9;
	border-radius: 8px;
	background: CanvasText;
	color: Canvas;
}
