.user-card {
	min-width: 200px;
	padding: 1rem;
	zoom: 1.5;
	transition: all 250ms ease-in-out;
	border: 4px solid transparent;
	border-radius: 8px;
	background-color: HighLight;

	strong {
		color: #ea777a;
	}

	&:hover {
		border-color: #fa8072;
		box-shadow: 2px 2px 2px 2px #EA777A, -2px -2px 2px 2px #EA777A;
	}
}

.user-card-change-age h1 {
	margin: 0;
}

.user-card-change-age dialog {
	padding: 2rem;

	> * + * {
		margin-top: 1rem !important;
	}
}

.user-card-change-age form {
	width: 100%;
	margin: 0 auto;

	> * + * {
		margin-top: 1rem !important;
	}
}

.user-card-change-age label {
	vertical-align: middle;
	cursor: pointer;
}

.user-card-change-age button {
	width: 100%;
}

.user-card-change-age .form-group {
	display: flex;
	align-items: center;
	gap: 1rem;
	padding-block: 1rem;
}

.user-card-change-age input {
	flex-grow: 1;
	padding: 0.5rem;
	border: 1px solid #7dadd5;
	border-radius: 4px;
	outline: none;
}
