@use "../../../../../assets/scss/abstracts/mixins" as mx;

.admin-container {
  display: flex;
  margin-block: var(--spacing-xl);
}

.user-edit-card {
  width: 100%;
  padding: var(--spacing-xl);
}

.user-edit-card-header {
  display: flex;
  margin-bottom: var(--spacing-xl);
  justify-content: space-between;
  align-items: center;
}

.user-edit-card-meta {
  font-size: var(--text-md);
  color: #828282;
}

.user-edit-form {
  display: flex;
  flex-direction: column;
  gap: var(--gap-md);
}

.form-row {
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap-md);
}

.form-group {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

label {
  font-weight: 600;
  margin-bottom: var(--spacing-sm);
}

input[type="text"],
input[type="email"],
input[type="tel"],
select {
  padding: var(--spacing-sm);
  border: 1px solid #efe64f;
  border-radius: var(--radius-sm);
  font-size: 1rem;
  background-color: #fffaea;
  transition: all 200ms linear;
}

input:focus,
select:focus {
  outline: none;
  box-shadow: 0 0 0 3px var(--primary)
}

.form-actions {
  display: flex;
  justify-content: end;
  gap: var(--spacing-md);
  margin-top: 10px;
}

@include mx.use-breakpoint-under-md {
  .user-edit-card {
    padding: var(--spacing-sm);
  }

  .form-row {
    flex-direction: column;
  }
}

.container {
  display: grid;
  height: 100%;
}

ui-loader {
  display: grid;
  width: 100%;
  height: 100vh;
  justify-content: center;
}
