ui-loader {
  display: grid;
  width: 100%;
  height: 100vh;
  justify-content: center;
}

.admin-container {
  overflow: hidden;
  margin: var(--spacing-xl) auto;

  border-radius: var(--radius-lg);
}

.admin-contact-title {
  padding: var(--spacing-lg);

  text-align: center;
}

.admin-contact-title h1 {
  margin: 0;

  font-size: var(--text-xl);
}

.admin-contact-section {
  padding: var(--spacing-xl);
}

.admin-contact-section:last-child {
  border-bottom: none;
}

.admin-contact-section h2 {
  margin-bottom: var(--spacing-lg);
  padding-left: var(--spacing-sm);

  font-size: var(--text-lg);
  border-left: 4px solid var(--primary);
  color: #2c3e50;
}

.admin-contact-message-detail {
  display: flex;
  padding: var(--spacing-sm) 0;
  justify-content: space-between;
}

.admin-contact-message-detail strong {
  width: 30%;

  color: #555555;
}

.admin-contact-message-detail span {
  width: 65%;

  word-break: break-word;

  color: #222222;
}

.admin-contact-message {
  margin-top: var(--spacing-md);
  padding: var(--spacing-md);

  line-height: 1.6;

  border: 1px solid #e0e0e0;
  border-radius: var(--radius-md);
  background: #f9f9f9;

  p {
    margin: 0;
  }
}

.admin-footer {
  display: flex;
  gap: var(--spacing-md);
  justify-content: end;
  padding: var(--spacing-md);

  text-align: right;
}

.btn {
  color: var(--color-white);
}
