:root {
	--bg-color: #212121;
	--text-color: #e5e5e5;
	--bg-color-alt: var(--text-color);
	--text-color-alt: var(--bg-color);
}

html,
body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;
	color-scheme: dark;
}

h1 {
	margin: 0;
}

body {
	display: grid;
	grid-template-areas:
		"header header"
		"aside ."
		"footer footer";
	grid-template-columns: max-content;
	grid-template-rows: 100px;

	@media screen and (width >= 600px) and (width <= 768px) {
		grid-template-areas:
			"aside header"
			"aside ."
			"aside footer";
	}
}

main {
	padding: 1rem;
	background-color: var(--main-bg-color, var(--bg-color-alt));
	color: var(--main-text-color, var(--text-color-alt));
}

main {
	grid-area: header;

	@media screen and (width >= 600px) and (width <= 768px) {
		grid-area: aside;
	}

	@media screen and (width <= 601px) {
		grid-area: footer;
	}
}
