*,
*::after,
**::before {
	box-sizing: border-box;
}

html,
body {
	color-scheme: dark;
}

body {
	margin: auto;
	max-width: 80ch;
}

table {
	border-collapse: collapse;
	border: 1px solid;
}

table th {
	padding: 8px;
	background-color: black;
}

table td {
	border: 1px solid;
	padding: 8px;
}

pre small {
	word-wrap: break-word;
	word-break: break-all;
	white-space: normal;
	text-overflow: ellipsis;
}

fieldset {
	display: grid;
	grid-template-columns: auto 1fr;
	gap: 8px;
	padding: 8px;
	border-radius: 8px;
}

fieldset legend {
	font-size: 32px;
	margin-block: 16px;
	margin-inline: auto;
	padding-inline: 8px;
}

fieldset input[type="checkbox"] {
	justify-self: start;
}

fieldset button[type="submit"] {
	grid-column: 1 / span 2;
	padding: 16px;
}

details {
	margin-block: 16px;
}
details summary {
	font-size: 32px;
}
