.user-badge--admin {
  --badge-outline: #e10d0d;
  --badge-surface: #ffe5e5;
}

.user-badge--proprietaire {
  --badge-outline: #eaae66;
  --badge-surface: #fff6eb;
}

.user-badge--client {
  --badge-outline: #48d519;
  --badge-surface: #e7ffdf;
}
