p {
	/* https://drafts.csswg.org/css-color/#named-colors */
	color: red;

	background-color: #ff0000;
	box-shadow: 1px 1px 1px rgb(255, 0, 0);
	backdrop-filter: drop-filter(1px 1px 1px hsla(0, 100%, 50%, 0.5));
}

p:hover {
	/* https://drafts.csswg.org/css-color/#css-system-colors */
	color: AccentColor;
}
