.img-1 {
	width: 150px;
	height: 150px;
	border: none;
	border-radius: 75px;
}

.img-2 {
	background-size: contain;
	background-position: 50% 50%;
	background-image: url(/img/example/filter.jpg);
	display: inline-block;

	width: 150px;
	height: 150px;
	border: none;
	border-radius: 75px;
}

.img-responsive {
	width: 100%;
	height: auto;
}
