.login-page {
	max-width: 24rem;
	margin-block: var(--spacing-10);
	margin-inline: auto;
	padding: var(--spacing-3);
	border: 1px solid var(--color-lightgray);
	border-radius: var(--border-radius-m);
	background-color: var(--color-ultra-white);
	--hr-surface: var(--color-ultra-white);
	--hr-on-surface: var(--color-black);
}

.login-form > * {
	margin-top: var(--spacing-3);
}

.login-info {
	font-size: .85rem;
	font-weight: normal;
	color: var(--color-gray-600);
}

.login-form button[type="submit"] {
	width: var(--size-full);
	padding: var(--spacing-1);
	background-color: var(--color-black);
	color: var(--color-white);
	border-radius: var(--border-radius-m);
	transition: all 250ms ease-in-out;
	&:hover {
		background-color: var(--color-gray-800);
	}
}

.login-form .login-btn {
	display: inline-block;
	padding: var(--spacing-1);
	width: var(--size-full);
	border: 1px solid var(--color-lightgray);
	border-radius: var(--border-radius-m);
	text-align: center;
	font-weight: 600;
	text-decoration: none;
	font-size: .90rem;
	transition: all 250ms ease-in-out;
	&:hover {
		background-color: var(--color-gray-100);
	}
}

.login-form p {
	font-size: .90rem;
	text-align: center;
}

.login-form a {
	text-decoration: underline;
	color: var(--color-black);
}

.login-input-password a {
	text-decoration: none;
	font-size: .95rem;

	&:hover {
		text-decoration: underline;
	}
}
