.logout-page {
	display: grid;
	place-content: center;
	place-items: center;
	height: 100%;
	min-height: 60vh;
}

.logout-page form {
	text-align: center;
}

.logout-page form[action="logout.php"] button[type='submit'] {
	padding: var(--spacing-2);
	background: var(--color-black);
	color: var(--color-white);

	&:hover {
		background: var(--color-gray-800);
	}
}
