html,
body {
	height: 100%;
}

body {
	display: flex;
	flex-direction: column;
	gap: 8px;
}

.container {
	display: flex;
	gap: 8px;
	height: calc(100% - 60px);
}

.horizontal-nav {
	display: flex;
	flex-wrap: wrap;
	align-items: start;
	justify-content: space-around;
	border-radius: 8px;
	background-color: #000000;
	color: #ffffff;
}

.horizontal-nav a {
	display: inline-block;
	padding: 8px;
	color: #ffffff;
}

.vertical-nav {
	display: flex;
	flex-direction: column;
	flex-shrink: 1;
	min-width: 250px;
	height: 100%;
	border-radius: 8px;
	background-color: #000000;
	color: #ffffff;
}

.vertical-nav a {
	display: inline-block;
	padding: 8px;
	color: #ffffff;
}

main {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	justify-content: space-between;
	height: 100%;
}

main > div {
	width: 150px;
	height: 150px;
	background-color: #fa8072;
}
