:root {
	--space: 8px;
	--header-footer-size: 50px;
}

* {
	margin: 0;
	padding: 0;
}

html,
body {
	height: calc(100vh - var(--space) * 2);
	font-size: 24px;
	font-weight: bold;
}

body {
	display: grid;
	grid-template-columns: 250px auto 250px;
	grid-template-rows: auto 1fr auto;
	gap: var(--space);
	padding: var(--space);
	background: #f5f5f5;
}

.content {
	display: grid;
	grid-template-columns: auto 1fr auto;
	grid-template-rows: auto 1fr auto;
	gap: var(--space);
	height: 100%;
}

aside,
main,
header,
footer {
	overflow: auto;
	border: 1px solid;
	padding: calc(var(--space) * 3);
}

header {
	grid-column: 1 / 4;
	grid-row: 1 / 1;

	min-height: max-content;

	background: #e6dce5;
}

header > nav {
	display: flex;
	gap: calc(var(--space) * 2);
}

aside.left {
	grid-column: 1 / 1;
	grid-row: 2 / 3;
	min-height: max-content;
	background: #e7537a;
}

main {
	grid-column: 2 / 2;
	grid-row: 2 / 3;

	margin: 0 auto;
	padding-inline: 5vi;

	background: #fff;
}

aside.right {
	grid-column: 3 / 3;
	grid-row: 2 / 3;
	min-height: max-content;
	background: #edb4c3;
}

footer {
	grid-column: 1 / 4;
	grid-row: 3 / 3;

	min-width: 40px;
	background: #df7491;
}
