.counter {
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

.counter small {
	color: rgb(224 172 98);
}

.counter input[type="range"] {
	appearance: none;
	border-radius: 8px;
	background-color: #ffffff;

	&::-webkit-slider-thumb {
		appearance: none;
		width: 1rem;
		height: 1rem;
		margin-top: -0.5rem;
		transform: translateY(0.25rem);
		border-radius: 0.5rem;
		background-color: rgb(224 172 98);
	}

	&::-moz-range-thumb {
		appearance: none;
		width: 1rem;
		height: 0.5rem;
		margin-top: -0.5rem;
		border-radius: 0.5rem;
		background-color: rgb(224 172 98);
	}
}
