<!DOCTYPE html>
<html lang="fr">
<head>
	<meta charset="UTF-8">
	<title>{% block title %}SportVie{% endblock %}</title>
	{% block stylesheets %}
	{% endblock %}

	{% block javascripts %}
		{% block importmap %}{{ importmap('app') }}{% endblock %}
	{% endblock %}
</head>
<body>
{% include "partials/layouts/_header.html.twig" %}

{% block body %}{% endblock %}

{% include "partials/layouts/_footer.html.twig" %}
</body>
</html>
