@use "../../../../assets/scss/abstracts/mixins" as mx;

.page\:annonce {
  overflow: auto;

  padding-block: var(--spacing-lg);
}

img {
  display: inline-block;
  width: 100%;
  border-radius: var(--radius-lg);
}

.annonce-actions {
  display: flex;
  gap: var(--spacing-sm);
  padding-block: var(--spacing-md);

  * {
    flex-shrink: 0;
  }
}

.annonce-gallery {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-sm);

  @include mx.use-breakpoint-from-md {
    flex-direction: row;
  }
}

.annonce-photo--main {
  flex-grow: 1;

  img {
    height: 200px;

    @include mx.use-breakpoint-from-md {
      height: 328px;
    }
  }
}

.annonce-photo img {
  height: 150px;
  width: 150px;
}

.annonce-photo-list {
  overflow: auto;
  display: flex;
  gap: var(--spacing-sm);

  @include mx.use-breakpoint-under-md {
    container-type: inline-size;
  }

  @include mx.use-breakpoint-from-md {
    flex-direction: column;
    max-height: 330px;
  }
}

.annonce-titre {
  padding-inline: 0;
}

.annonce-adresse {
  color: #998989;
}

.annonce-message {
  padding-block: var(--spacing-md);

  p {
    word-break: break-all;
  }
}

.dialog\:annonce-contact {
  padding: var(--spacing-md);
  grid-template-columns: 1fr 1fr;
  column-gap: var(--spacing-lg);

  &:popover-open {
    display: grid;
  }

  p {
    margin-block: var(--spacing-sm);
  }
}
