/**
 * Concerne le style du composant "navbar".
 */

/** Variables spécifiques à la navbar */
:root {
	/** Couleurs */
	--navbar-link-active-bg: #212121;
	--navbar-link-active-color: #fff;
	--navbar-link-color: #979797;
}

.navbar {
	display: flex;
	align-items: center;
	gap: var(--space4);
	padding: var(--space3);
}

.navbar_link {
	/* NOTE: Les paddings sont mis pour élargir la zone de click */
	padding-block: var(--space2);
	padding-inline: var(--space1);

	transition: background 250ms linear;

	font-size: 22px;
	text-transform: uppercase;

	color: var(--navbar-link-color);
}

.navbar_link--active,
.navbar_link:hover {
	border-bottom: 2px solid var(--color-gray);
}

#getintouch {
	border: 1px solid currentColor;
	border-radius: var(--radius-md);
	align-self: center;
	letter-spacing: 0.5px;
	font-size: 16px;
	font-family: Roboto, sans-serif;
}
