/**
 * Concerne le style du composant "searchbar".
 */

/** Variables spécifiques à la searchbar */
:root {
	--searchbar-input-bg: #212121;
	--searchbar-input-text: #fff;
	--searchbar-button-bg: #fff;
	--searchbar-button-text: #212121;
}

.searchbar {
	display: flex;
}

.searchbar__input,
.searchbar__btn {
	padding-inline: var(--space1);
	border: none;
	border-radius: var(--radius);
	outline: none;
}

.searchbar__input {
	background: var(--searchbar-input-bg);
	color: var(--searchbar-input-text);
	&:focus {
		outline: 3px solid currentColor;
	}
}

.searchbar__btn {
	background: var(--searchbar-button-bg);
	color: var(--searchbar-button-text);
}
