/**
 * Concerne le style du composant "topbar".
 */

/** Variables spécifiques au topbar */
:root {
	/** Taille du logo */
	--topbar-logo-size: 80px;

	/** Couleurs */
	--topbar-bg: #fff;
	--topbar-text: #333;
}

.topbar {
	padding: var(--space1);

	background: var(--topbar-bg);
	color: var(--topbar-text);
}

.topbar .container {
	align-items: center;
}

.topbar #logo {
	/* width: var(--topbar-logo-size);
	height: var(--topbar-logo-size); */

	margin-inline: auto;

	img {
		width: auto;
	}
}

.topbar_searchbar {
	.searchbar__input {
		border-top-right-radius: 0;
		border-bottom-right-radius: 0;
	}

	.searchbar__btn {
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;
	}
}
