{% extends 'base.html.twig' %}

{% block title %}Video Center{% endblock %}

{% block body %}
    <div class="content">
        <h1 class="h1">{{ 'hero.title' | trans }}</h1>
        <h2 class="h3" id="latest-videos">{{ 'video.latest' | trans }}</h2>

        <div class="carousel">
                {% for videos in video_groups %}
                    <div class="carousel-content">
                        {% for video in videos %}
                            <div class="carousel-item">
                                {{ include('video/_course-item.html.twig', { video: video }) }}
                            </div>
                        {% endfor %}
                    </div>
                {% endfor %}
        </div>
    </div>
{% endblock %}
