.page\:body {
  overflow: auto;

  display: flex;
  flex-direction: column;
}

.page\:body--bg {
  background: var(--color-black-darker);
}

.page\:body--padded {
  padding: var(--spacing-lg);
}

.page\:full-height {
  height: 100%;
}

.page\:scroll {
  overflow: auto;
  height: 100%;
}

.container-full {
  width: 100%;
  height: 100%;
}

.no-scroll {
  overflow: hidden;
}
