.input-group {
	display: flex;
	gap: var(--spacing-1);
	flex-direction: column;
}

.input-group input,
.input-group textarea {
	padding: var(--spacing-1);
	border: 1px solid var(--color-lightgray);
	border-radius: var(--border-radius-m);
}

.input-group textarea {
	min-height: calc(var(--spacing-10) * 2);
}

.input-group-label {
	display: flex;
	justify-content: space-between;
}

.error-message {
	text-align: left !important;
	margin: 0;
	color: var(--color-red-300);
}

label {
	font-size: .85rem;
	font-weight: 600;
}
