{% extends "base.html.twig" %}

{% block title %}
	Edition de la recette {{ recipe.id }}
{% endblock %}

{% block body %}
	<article style="max-width: 80ch;" class="mx-auto">
		<h1>Edition de la recette n°{{ recipe.id }}</h1>
		<h2>{{ recipe.title }}!</h2>
		{{ form(myForm) }}
	</article>
{% endblock %}
