{% extends "base.html.twig" %}

{# {% block title %}Liste des recettes !{% endblock %} #}
{% block title "Liste des recettes !" %}

{% block body %}

	<h1>Liste de recettes</h1>

	<ul>
		{% for recipe in recipes %}
			<li>
				<a href="{{ path('app_recipe_show', { id: recipe.id, slug: recipe.slug }) }}">{{ recipe.title }}</a>
				-
				<a href="{{ path('app_recipe_edit', { id: recipe.id }) }}">Éditer</a>
			</li>
		{% else %}
			<p>Il n'y a pas de recettes.</p>
		{% endfor %}
	</ul>

{% endblock %}
