{% extends 'base.html.twig' %}

{% block title %}
	Liste des recettes
{% endblock %}

{% block body %}
	<h1>Bienvenue dans la liste des Recettes</h1>

	<section class="row">
		{% for recipe in recipes %}
			<article
				class="card max-w-sm col-4 bg-white rounded-lg border border-gray-200 shadow-md dark:bg-gray-800 dark:border-gray-700 my-8 mr-4"
				data-type="post"
			>
				<h1>
					<a href={{ path('app_recipe_show', {id : recipe.id, slug : recipe.slug}) }}>{{ recipe.title }} </a>
				</h1>
				<img src="https://pbs.twimg.com/media/EdDUBw0WkAAQLJ1?format=jpg&name=large" width="150"
					 height="200">
				<p>Submitted {{ recipe.createdAt |date }}</p>
			</article>
		{% else %}
			<p>Pas encore de recette</p>
		{% endfor %}
	</section>
{% endblock %}
