{% extends 'base.html.twig' %}

{# {% block title %}Liste des recettes !{% endblock %} #}
{% block title "Liste des recettes !" %}

{% block body %}

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum, quisquam! Sed doloremque aspernatur unde, veritatis inventore recusandae nam doloribus porro. Necessitatibus nisi beatae accusamus, repellendus nobis amet in quis exercitationem!</p>

{% endblock %}
