@layer form {
	form {
		display: flex;
		flex-direction: column;
		gap: calc(var(--space) * 2);

		&.inline {
			flex-direction: row;
			> * {
				align-self: center;
			}
		}

		&.max-wc > * {
			width: max-content !important;
		}
	}

	form > div {
		display: flex;
		flex-direction: column;
		gap: var(--space);
	}

	label[for]:has(+ input[id], + textarea[id]) {
		display: block;
		cursor: pointer;
	}

	input[type="image"] {
		pointer-events: none;
		user-select: none;
	}

	input[type="number"],
	input[type="password"],
	input[type="text"],
	textarea {
		width: 100%;
		resize: none;
		padding: var(--space);
		border-radius: 4px;
		border: none;
		background: var(--input-bg);
		color: var(--input-text);
	}

	button:focus,
	input:not([readonly]):focus,
	textarea:focus {
		outline: 3px solid var(--primary-color);
	}

	input[readonly] {
		cursor: not-allowed;
		user-select: none;
		pointer-events: none;
	}
	input[readonly]:focus {
		outline: 3px solid transparent;
	}

	textarea {
		height: 150px;
	}

	button[type="submit"] {
		width: 100%;
		padding: calc(var(--space) * 2);
		border: none;
		border-radius: 3px;

		strong {
			background: var(--button-color);
			color: var(--button-bg);
			padding-block: 4px;
			padding-inline: 4px;
			border-radius: 2px;
		}
	}

	button {
		background: var(--button-bg);
		color: var(--button-color);
		cursor: pointer;
	}

	button:active {
		outline-style: inset;
		background: ButtonBorder;
		color: ButtonText;
	}
}
