@layer layout {
	.l-body {
		display: grid;
		grid-template-columns:
			minmax(max-content, min-content) minmax(50ch, auto)
			minmax(max-content, min-content);
		grid-template-rows: auto 1fr auto;
		grid-template-areas:
			"logo header header"
			"aside main debug"
			"aside main debug"
			"footer footer footer";
	}

	.l-body > main {
		grid-area: main;
	}

	.l-header {
		grid-area: header;

		position: sticky;
		top: 0;
	}

	.l-sidebar {
		grid-area: aside;
	}

	.l-footer {
		grid-area: footer;

		position: sticky;
		bottom: 0;
	}

	.l-logo {
		grid-area: logo;

		position: relative;

		background: var(--body-bg);

		display: flex;
		place-items: center;
		place-content: center;
		text-align: center;

		width: 150px;
		height: 64px;

		a {
			width: calc(150px / 3);
		}

		label {
			display: inline-block;
			cursor: pointer;
			width: calc(150px / 3);
			height: 32px;
		}

		img {
			height: 100%;
			width: 100%;
			vertical-align: middle;
			filter: drop-shadow(1px 1px 2px red);
			mix-blend-mode: color-burn;
		}
	}
}
