@import "./_help.css";
@import "./_vars.css";
@import "./_base.css";
@import "./_layout.css";
@import "./_form.css";

@import "./components/alert.css";
@import "./components/avatar.css";
@import "./components/footer.css";
@import "./components/navbar.css";
@import "./components/sidebar.css";
@import "./components/topbar.css";

@import "./pages/calc.css";
@import "./pages/profile.css";

@layer help, base, layout, form, component, page;

body > section,
body > main {
	overflow: auto;
	width: 100%;
	padding: var(--space);
}

body > main {
	> section {
		max-width: 80ch;
		margin-inline: auto;
	}
}

body > section {
	resize: horizontal;

	> details {
		max-width: 80ch;
		margin-inline: auto;
	}
}

#logo {
	display: none;
}

.l-sidebar {
	transition: transform 250ms ease-in-out;
}

.l-sidebar {
	transform: translateX(-100vw);
}

#logo:checked ~ .l-sidebar {
	transform: translateX(0);
}
