:root {
	--text-color: #63a1db;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

html,
body {
	width: 100%;
	height: 100%;
	overflow: hidden;
	background: #212121;
	color: #f7f7f7;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

html,
body,
ul {
	margin: 0;
	padding: 0;
}

.container {
	max-width: 95vw;
	margin-inline: auto;
}

.header {
	position: sticky;
	top: 2rem;
	right: 2rem;
	left: 2rem;
	padding: 1rem;
	animation-name: defile1, defile2;
	animation-duration: 2s, 5s;
	animation-delay: 0s, 5s;
	animation-iteration-count: 1, infinite;
	animation-direction: alternate, alternate;
	border-radius: 4px;
	background-color: CanvasText;
	background-image: url("https://external-preview.redd.it/odqgKwzacwZw_9VTCnFXkBhVcAMCX5UUb_rkIiSpzf4.jpg?auto=webp&s=4b6b05530eed1aa37621b58932187797641cf493");
	background-repeat: no-repeat;
	background-size: 100%;
	box-shadow: 0 3px 999px 16px var(--text-color);
	background-position-x: 9999px;
}

@keyframes defile1 {
	0% {
		background-position-x: 500px;
	}

	100% {
		background-position-x: 9999px;
	}
}

@keyframes defile2 {
	30% {
		background-position-x: 100px;
		background-position-y: -20px;
	}

	80% {
		background-position-x: 0;
	}

	100% {
		background-position-y: -50px;
	}
}

.header ul {
	display: flex;
	margin: 0;
	padding: 0;
	list-style: none;
}

.header ul li button {
	padding: 0.5rem;
	animation: bounce 1s;
	border: none;
	border-radius: 4px;
	background: var(--text-color);
	box-shadow: 0 0 14px 3px #212121;
	color: #ffffff;
	cursor: pointer;
}

@keyframes bounce {
	0%,
	100% {
		transform: scale(1, 1);
	}

	25% {
		transform: scale(0.9, 1.1);
	}

	50% {
		transform: scale(1.1, 0.9);
	}

	75% {
		transform: scale(0.95, 1.05);
	}
}

.header ul li a {
	display: inline-block;
	padding: 1rem;
	color: var(--text-color);
	font-weight: 700;
	text-decoration: none;
}

.header .navbar {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.header + section {
	margin-top: 3rem;
}

[data-type="normal"] {
	--color: #ffffff;
	--color-text: #000000;
}

[data-type="dragon"] {
	--color: #108f44;
}

[data-type="glace"] {
	--color: #a2c9e0;
	--color-text: #000000;
}

[data-type="vol"] {
	--color: #e3e2be;
	--color-text: #000000;
}

[data-type="acier"] {
	--color: #cdcdcd;
}

[data-type="combat"] {
	--color: #784a4a;
}

[data-type="ténèbres"] {
	--color: #454451;
}

[data-type="plante"] {
	--color: #9bcc50;
	--color-text: #000000;
}

[data-type="électrik"] {
	--color: #eed535;
	--color-text: #212121;
}

[data-type="psy"] {
	--color: #f366b9;
}

[data-type="eau"] {
	--color: #15719e;
}

[data-type="feu"] {
	--color: #d44343;
}

[data-type="glace,vol"] {
	--color: #94ceea;
	--color-text: #000000;
}

[data-type="psy,plante"] {
	--color: #5e50cc;
}

[data-type="psy,vol"] {
	--color: #a39beb;
}

#pokedex-screen {
	text-align: center;
}

.pokedex-wrapper {
	display: inline-grid;
	gap: 1rem;
}

.pokedex-list {
	display: flex;
	gap: 1rem;
	overflow-x: auto;
}

.pokedex-list .pokemon-detail {
	cursor: pointer;
}

.pokemon-detail {
	display: flex;
	position: relative;
	flex-direction: column;
	min-width: 260px;
	padding: 1rem;
	padding-top: 230px;
	border: 4px solid transparent;
	border-radius: 40px;
	outline-color: var(--color);
	background-repeat: no-repeat;
	background-position: top center;
	background-size: 100%;
	user-select: none;

	h1 {
		font-size: 1.5rem;
		text-align: left;
	}

	small {
		font-size: .7rem;
		vertical-align: middle;
	}

	p {
		margin-block: 4px;
		text-align: left;
	}

	&.selected {
		border-color: var(--color, #2ebbdc);
	}

	&.selected .pic {
		box-shadow: 0 2px 4px 0 var(--color, #2ebbdc);
	}
}

.pokedex-wrapper aside {
	min-width: 350px;
	height: 100%;
	border-radius: 8px;
	background-color: CanvasText;
	color: Canvas;

	.pokemon-detail {
		max-width: 350px;
		margin-inline: auto;
		outline: none;
		background-size: auto;
		pointer-events: none;
	}
}

#pokemon-opponent .pokemon-detail {
	align-items: center;
}

#pokemon-opponent h2 {
	padding-inline: 1rem;
	text-align: center;
}

.badge {
	display: inline-block;
	padding: 4px;
	border-radius: 4px;
	background: var(--color);
	color: var(--color-text, inherit);
}

#battle-screen:not([hidden]) {
	display: flex;
}

#battle-screen {
	flex-direction: column;
	height: calc(100% - 120px);
	margin-top: 4rem;
	padding: 3rem;
	overflow: hidden;
	outline: 10px ridge Canvas;
	background-color: CanvasText;
	box-shadow: 0 3px 999px 16px var(--text-color);
}

#battle-screen > div {
	flex-grow: 1;
	flex-shrink: 0;
}

.fighter {
	display: flex;
	justify-content: space-between;
}

.fighter p {
	margin: 0;
}

.fighter .pic {
	filter: drop-shadow(2px 4px 16px var(--color));
	height: 200px;
}

.fighter:last-of-type .pic {
	transform: rotateY(190deg);
}

.fighter .name {
	margin: 0;
}

#battle-screen > .fighter:last-of-type {
	flex-direction: row-reverse;
}

.attacks:not([hidden]) {
	display: grid;
}

.fighter:not([data-type]) .attacks {
	opacity: 50%;
	pointer-events: none;
}

.attacks {
	align-content: center;
	padding-inline: 1.5rem;
	overflow: hidden;
	border: 1px solid #0a1f29;
	outline: 10px ridge;
	background: #070f13;
	list-style: none;
	gap: 8px;

	li,
	button {
		display: inline-block;
		width: 100%;
		text-align: left;
	}

	button {
		display: inline-grid;
		grid-template-columns: 50px 1fr;
		align-items: center;
		gap: 1rem;
		padding: 0.5rem;
		border: none;
		background: transparent;
		color: canvas;
		cursor: pointer;

		span {
			display: inline-block;
			font-size: 12px;
			text-align: center;
		}

		&:hover,
		&:focus-within {
			outline: 10px ridge var(--color);
			background: #152731;
		}
	}
}

meter {
	appearance: none;
	width: 100%;
}

meter::-webkit-meter-bar {
	background: #666666;
	box-shadow: inset 0 0 2px 2px #555555;
}

meter::-webkit-meter-bar,
meter::-webkit-meter-optimum-value,
meter::-webkit-meter-suboptimum-value,
meter::-webkit-meter-even-less-good-value {
	border-radius: 2px;
}

meter::-webkit-meter-optimum-value {
	border: 1px solid #1560ad;
	background: #4fa2f7;
}

meter::-webkit-meter-suboptimum-value {
	border: 1px solid #b9870d;
	background: #f7c64f;
}

meter::-webkit-meter-even-less-good-value {
	border: 1px solid #bd3413;
	background: #f76f4f;
}

dialog {
	padding-inline: 2rem;
	outline: 10px ridge var(--color, #ffffff);
	background: var(--color, inherit);
	color: var(--color-text, inherit);

	h1 {
		font-size: 1.5rem;
	}
}
