/**
 * Les règles de style des éléments en commun pour chaque page.
 */

*,
*::before,
*::after {
	box-sizing: border-box;
}

html,
body {
	width: 100%;
	height: 100%;

	margin: 0;

	font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
		Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
		sans-serif;
}

body {
	display: flex;
}

body,
main {
	max-height: 100vh;
	overflow: clip;
}

main {
	flex-grow: 1;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	height: 100%;

	background-color: #212121;
	color: #f5f5f5;
	background-image: radial-gradient(
			at 40% 20%,
			rgb(22, 22, 22) 0px,
			transparent 50%
		),
		radial-gradient(at 80% 0%, rgb(24, 16, 18) 0px, transparent 50%),
		radial-gradient(at 0% 50%, rgb(0, 0, 0) 0px, transparent 50%),
		radial-gradient(at 80% 50%, rgb(21, 15, 15) 0px, transparent 50%),
		radial-gradient(at 0% 100%, rgb(25, 16, 12) 0px, transparent 50%),
		radial-gradient(at 80% 100%, rgb(15, 9, 9) 0px, transparent 50%);
}

aside {
	width: 250px;
	background-color: #292929;
}

aside nav {
	display: flex;
	flex-direction: column;

	gap: 16px;

	padding-block: 32px;
	padding-inline: 8px;

	a {
		padding: 8px;
		border-radius: 8px;
		text-decoration: none;
		transition: all 250ms ease;
		color: #999;
	}

	a.active,
	a:hover {
		background-color: #3d3d3d;
		color: #f5f5f5;
	}
}

label[for] {
	cursor: pointer;
}

strong {
	color: white;
}

.auth-login {
	width: 500px;

	border: 1px solid #3d3838;
	border-radius: 1rem;

	background-image: linear-gradient(to bottom, #1b1614, #140f0f);
	color: #f5f5f5;

	box-shadow: 3px 5px 6px #0c0909;

	padding: 2rem;

	a {
		color: #f5f5f5;
		font-weight: bold;
		text-decoration: none;
		transition: color 250ms;
		&:hover {
			color: #bbb;
		}
	}

	h1 {
		margin-top: 0;
	}
	p {
		color: #6c6e79;
	}

	ul {
		display: flex;
		list-style: none;
		gap: 1rem;

		li {
			position: relative;
			overflow: hidden;

			width: 33%;

			background-color: #333;
			border: 1px solid #616161;
			border-radius: 12px;
		}

		a {
			width: 100%;
			padding: 4px;

			display: inline-block;

			background: #333;
			color: white;
		}
	}

	hr {
		color: #3d3838;
	}

	form > * + * {
		margin-top: 1rem;
	}

	.form-group {
		display: flex;
		flex-direction: column;
		gap: 12px;
	}

	input {
		padding: 12px;

		border: 1px solid #3d3838;
		border-radius: 6px;
		background: transparent;
		color: #f5f5f5;

		outline: none;

		&::placeholder {
			color: #757579;
		}
	}

	button[type="submit"] {
		width: 100%;
		cursor: pointer;
		line-height: 2.5rem;
		background: #333;
		border: 1px solid #3d3838;
		border-radius: 6px;
	}
}

.align-t\:left {
	text-align: left;
}

.align-t\:center {
	text-align: center;
}

.align-t\:right {
	text-align: right;
}

.error-message {
	color: #ff5e5e;
}

.btn {
	position: relative;
	padding: 0;
	border: none;
	box-shadow: 0 0 5px #333;
	color: white;
}
.btn span {
	position: relative;
	display: block;
	width: 100%;
	height: 100%;
}
.btn:hover {
	background: transparent;
}
.btn:before,
.btn:after {
	position: absolute;
	content: "";
	height: 0%;
	width: 2px;
	background: #fff;
	box-shadow: 0 0 5px #fff;
}
.btn:before {
	right: 0;
	top: 0;
	transition: all 500ms ease;
}
.btn:after {
	left: 0;
	bottom: 0;
	transition: all 500ms ease;
}
.btn:hover:before {
	transition: all 500ms ease;
	height: 100%;
}
.btn:hover:after {
	transition: all 500ms ease;
	height: 100%;
}
.btn span:before,
.btn span:after {
	position: absolute;
	content: "";
	background: #fff;
	box-shadow: 0 0 5px #fff;
}
.btn span:before {
	left: 0;
	top: 0;
	width: 0%;
	height: 2px;
	transition: all 500ms ease;
}
.btn span:after {
	right: 0;
	bottom: 0;
	width: 0%;
	height: 2px;
	transition: all 500ms ease;
}
.btn span:hover:before {
	width: 100%;
}
.btn span:hover:after {
	width: 100%;
}

.alert {
	max-width: 400px;
	background-color: #ff5e5e;
	padding: 16px;
	border-radius: 8px;
	margin-bottom: 32px;
}

.alert--error {
	color: white;
}

/* Page Profile */

.page-profile {
	flex-grow: 1;
	align-self: normal;

	padding: 2rem;

	h1 {
		margin-top: 0;
	}
}

.currency-conversion-history {
	padding: 16px;
	border-radius: 12px;
	background-color: #292929;
}

.currency-conversion-history table {
	width: 100%;
	border-collapse: collapse;
	text-align: left;
}
.currency-conversion-history table thead > tr th {
	color: #7c7878;
	border-bottom: 1px solid #413a3a;
}

.currency-conversion-history table th,
.currency-conversion-history table td {
	padding: 16px;
}
