@use "../../../assets/scss/abstracts/mixins" as mx;

:host {
  --topbar-spacing: var(--spacing-sm);
  --topbar-size: calc(var(--spacing-sm) * 10);
}

.topbar {
  position: relative;
  display: flex;
  height: var(--topbar-size);
  padding: var(--topbar-spacing);
  align-items: center;
  justify-content: space-between;
}

.topbar-navbar-item-link {
  display: inline-block;
  text-decoration: none;
  color: var(--body-on-surface);
}

.topbar-avatar {
  display: flex;
  margin: 0;
  gap: var(--spacing-sm);
  align-items: center;

  img {
    border-radius: var(--radius-full);
  }
}

.topbar-avatar-name {
  user-select: none;

  display: grid;
  gap: var(--spacing-sm);
}

.topbar\:sm\:menu-burger {
  display: flex;
  height: 64px;
  width: 64px;
  padding: var(--spacing-md);
  flex-direction: column;
  place-content: center;
  gap: var(--spacing-sm);
  flex-shrink: 0;

  border-radius: var(--radius-full);
  border: none;
  background: var(--color-yellow);
  box-shadow: 2px 2px 4px var(--color-black-ultra-dark);
}

@include mx.use-breakpoint-from-md {
  .topbar\:sm\:menu-burger {
    display: none;
  }
}

.topbar-menu-burger--line {
  display: block;
  height: 8px;
  width: 100%;
  background: var(--color-black);
  border-radius: var(--radius-sm);
}

.topbar-logo {
  font-size: var(--text-xxxl);
  font-family: var(--font-aguafina);
}

.topbar-logo-link {
  text-decoration: none;
  color: var(--body-on-surface);
}

.topbar-navbar-list {
  display: flex;
  align-items: center;
  gap: var(--spacing-md);
  list-style: none;
  padding: 0;
  margin: 0;
}

.topbar-navbar-item--user {
  position: relative;
}

.topbar-navbar-item--user-btn {
  border: none;
  background: transparent;
  color: var(--body-on-surface);
}

.topbar-navbar-item--annonce {
  display: flex;
  padding: var(--spacing-sm);
  gap: var(--spacing-xs);
  align-items: center;

  border-radius: var(--radius-md);
  background: var(--color-yellow);
  color: var(--color-black);

  a {
    color: inherit;
    text-decoration: none;
  }
}

.topbar-navbar-item--annonce-link {
  border-radius: var(--radius-sm);
  background: var(--color-black);
  color: var(--color-white) !important;
}

/* Menu Utilisateur */

.menu\:user-menu {
  width: 300px;
  padding: var(--spacing-md);
  border-radius: var(--radius-md);

  &:popover-open {
    display: grid;
    gap: var(--spacing-xs);
  }
}

.menu\:user-menu\:link {
  color: inherit;
  text-decoration: none;
}

.menu\:user-menu\:personal-info {
  display: flex;
  padding: var(--spacing-md);
  gap: var(--spacing-sm);
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  > * {
    flex-shrink: 0;
  }
}

.menu\:user-menu\:item {
  display: flex;
  padding: var(--spacing-sm);
  align-items: center;
  gap: var(--spacing-sm);

  border: 1px solid #bbbbbb;
  border-radius: var(--radius-md);
}

.menu\:user-menu\:item--logout {
  &, & * {
    color: var(--color-red);
  }

  button {
    border: none;
    background: none;
  }
}

/* Offcanvas */

.off-canvas {
  visibility: hidden;

  transform: translateX(-1000vw);

  transition: transform 100ms ease;
}

.on-canvas {
  position: absolute;
  z-index: 9998;
  inset: 0;

  visibility: visible;

  background: rgba(0, 0, 0, 0.65);

  transform: translateX(0);
}

@include mx.use-breakpoint-under-md {
  .topbar:has(~ .on-canvas) {
    z-index: 9999;

    .topbar-navbar-item--user figure,
    .topbar-logo-link {
      color: var(--body-surface);
    }
  }
}

.off-canvas-aside {
  position: absolute;
  width: 100%;
  height: 100%;

  background: var(--body-on-surface);
  color: var(--body-surface);
}

.off-canvas-navbar {
  margin-top: 100px;
}

.off-canvas-navbar-list {
  display: grid;
  padding: 0;
  gap: var(--spacing-md);

  list-style: none;
}

.off-canvas .topbar-navbar-item-link {
  color: var(--body-surface);
}
