/* Variables */

@use "./abstracts/vars" with (
  $color-white: #eff5ff,
  $color-orange: #ecb03d,
);

@use "./abstracts/functions" as fn;

/* Bases */
@use "./bases/reset";
@use "./bases/base";
@use "./bases/typography";

/* Utilitaires */
@use "./utilities/atomic";
@use "./utilities/container" with (
  $container-size: 75vw
);
@use "./utilities/stack";

/* Layouts */
@use "./layouts/header" with (
  $header-surface: #201b15,
  $header-on-surface: fn.color(yellow-light),
  $header-active-on-surface: fn.color(orange),
  $header-text-logo: fn.text(lg),
);

/* Composants */
@use "./components/btn" with (
  $btn-primary-surface: fn.color(orange),
  $btn-primary-on-surface: fn.color(yellow-light),
);

@use "./components/nabvar" with (
  $navbar-link-on-surface: fn.color(header),
  $navbar-link-active-on-surface: fn.color(header-active),
);
