{% extends "base.html.twig" %}

{% block title %}{{ 'recipe.title.add' | trans }}{% endblock %}

{% block body %}
	<article style="max-width: 80ch;" class="mx-auto">
		<h1>{{ 'recipe.title.add' | trans }}</h1>
		{{ form(myRecipeForm) }}
	</article>
{% endblock %}
