@property --space {
	syntax: "<length-percentage>";
	inherits: true;
	initial-value: 8px;
}
@property --primary-color {
	syntax: "<color>";
	inherits: false;
	initial-value: #733595;
}

@property --secondary-color {
	syntax: "<color>";
	inherits: false;
	initial-value: #bc8fd5;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

html,
body {
	margin: 0;
	width: 100%;
	height: 100%;
}

body {
	overflow: hidden;
	max-width: 768px;
	margin: auto;

	background: var(--primary-color);
}

.container {
	margin-top: var(--space);
	border-radius: var(--space);
	background: var(--secondary-color);
}

.container-grid-area {
	display: grid;
	grid-template-areas:
		"header"
		"main"
		"footer";
	gap: var(--space);
}

.container-grid-area > header,
.container-grid-area > main,
.container-grid-area > footer {
	padding: calc(var(--space) * 2);
}

.container-grid-area > header {
	grid-area: header;
}
.container-grid-area > main {
	grid-area: main;
}
.container-grid-area > footer {
	grid-area: footer;
}
