@property --space {
	syntax: "<length>";
	inherits: false;
	initial-value: 8px;
}

@property --rounded {
	syntax: "<length>";
	inherits: false;
	initial-value: 8px;
}

@property --full-rounded {
	syntax: "<percentage>";
	inherits: false;
	initial-value: 50%;
}

html[lang] {
	box-sizing: border-box;
	scroll-behavior: smooth;
}

html,
body {
	width: 100%;
	height: 100%;
	margin: 0;
	font-family: Roboto, sans-serif;
}

body {
	background-image: url("../../assets/texture-paper.png");
	background-size: cover;
}

main[role="main"] {
	min-width: 100%;
	min-height: 100vh;
}

/* Header */

header[role="heading"] {
	height: calc(var(--space) * 36);
	background-image: url("../../assets/bg-header.jpg");
	background-size: cover;
	user-select: none;
}

header[role="heading"] > div {
	display: flex;
	align-items: start;
	justify-content: space-between;
	max-width: 80ch;
	margin-inline: auto;
	padding-top: calc(var(--space) * 10);
}

header[role="heading"] .title {
	margin: 0;
	color: #fafafa;
	font-size: 2.25rem;
	letter-spacing: var(--space);
	line-height: 2.5rem;
	text-transform: uppercase;
}

header[role="heading"] img {
	height: calc(var(--space) * 6);
	border-radius: var(--full-rounded);
	box-shadow: 1px 1px 2px #212121;
}

/* Navigation */

nav[role^="navigation"] {
	display: flex;
	justify-content: center;
	max-width: 75ch;
	margin-inline: auto;
	padding: calc(var(--space) * 2);
	transform: translateY(calc(1px - var(--space) * 16));
	border-radius: var(--rounded);
	background-color: #ffffff;
	box-shadow: 1px 1px 2px #b861ee, -1px -1px 2px #72a6fa;
	gap: var(--space);
}

nav[role^="navigation"] > a {
	padding-block: var(--space);
	padding-inline: calc(var(--space) * 2);
	border-bottom: 4px solid transparent;
	color: inherit;
	text-decoration: none;
}

body:has(#about:target) nav[role^="navigation"] > a[href="#about"],
body:has(#projects:target) nav[role^="navigation"] > a[href="#projects"],
body:has(#contact:target) nav[role^="navigation"] > a[href="#contact"] {
	border-color: #ad6bf1 !important;
	font-weight: 700;
}

main[role="main"] > main {
	display: flex;
	max-width: 80ch;
	margin-inline: auto;
	overflow: hidden;
	overflow-x: auto;
	transform: translateY(calc(1px - var(--space) * 12));
	box-shadow: 1px 1px 5px #cad1f5, -1px -1px 5px #e4d4f9;
	scroll-behavior: smooth;
	scroll-snap-type: x mandatory;
	gap: calc(var(--space) * 4);
}

main[role="main"] > main > section {
	flex-shrink: 0;
	width: 100%;
	max-width: -moz-available;
	max-width: -webkit-fill-available;
	max-height: 80ch;
	padding: calc(var(--space) * 3);
	overflow-y: auto;
	border-radius: var(--rounded);
	background-color: #ffffff;
	font-size: 14px;
	scroll-snap-align: center;
}

main[role="main"] > main > section:target {
	flex-grow: 1;
}

main[role="main"] > main > section > h1 {
	margin: 0;
	margin-bottom: 1em;
}

/** Table */

table {
	width: 100%;
	border-collapse: collapse;
	border: 1px solid;
}

thead {
	background: #212121;
	color: #ffffff;
}

tbody td {
	border-inline: 1px solid #c5bfbf;
	border-bottom: 1px solid #c5bfbf;
}

tbody tr {
	background: #ffffff;
}

tbody tr:nth-child(odd) {
	background: #ead8f6;
}

tbody tr:hover {
	background: #f7edfc;
}

th,
td {
	padding: var(--space);
}

.project-description {
	width: 65%;
	text-align: left;
}

/* About */

#about img {
	padding: var(--space);
	shape-outside: circle();
	border-radius: var(--full-rounded);
}

#details {
	padding: var(--space);
	border-radius: var(--default-border-radius);
}

#details > div {
	display: grid;
	grid-template-columns: 100px auto;
	gap: var(--space);
}

#details > div > p {
	margin: 0;
	padding: 0;
	padding-block: 4px;
}

#details > div > p:first-of-type {
	font-weight: 700;
}

.f-left {
	float: left;
}

.f-right {
	float: right;
}

/** Contact */

#contact form {
	display: flex;
	flex-direction: column;
	background: transparent;
	font-size: 14px;
	gap: calc(var(--space) * 2);
}

#contact fieldset {
	margin: 0;
	padding: 0;
	border: 0;
}

#contact fieldset:first-of-type {
	display: flex;
	flex-wrap: wrap;
	gap: calc(var(--space) * 2);
}

#contact .text-input {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	gap: var(--space);
}

#contact legend {
	margin: auto;
	margin-block: 24px;
	padding-inline: var(--space);
	font-size: 2rem;
}

#contact textarea {
	width: -moz-available;
	width: -webkit-fill-available;
	min-height: 150px;
}

#contact :is(input, textarea, button[type="submit"]) {
	padding: var(--space);
	border: 0;
	border-radius: 4px;
	background: linear-gradient(to right, #f5e7fd, #dfe7f5);
	font-family: Arial, Helvetica, sans-serif;
	font-size: calc(var(--space) * 2);
}

#contact :is(input, textarea, button[type="submit"]):hover,
#contact :is(input, textarea, button[type="submit"]):focus {
	outline: 3px solid #76a2f9;
}

#contact :is(input, textarea, button[type="submit"]):placeholder-shown {
	color: #000000;
}

#contact button[type="submit"] {
	display: inline-block;
	width: 100%;
	padding: calc(var(--space) * 2);
	cursor: pointer;
}
