{% extends 'base.html.twig' %}

{% block title %}Hello AccountController!{% endblock %}

{% block body %}
	<div class="account-page">
		<h1>Mon compte</h1>

		{{ app.user.firstname }}
	</div>
{% endblock %}
