@use "sass:string";

// Font face, font family
//   $font-name: nom du font,
//   $path: chemin vers le dossier contenant les fichiers de police,
//   $weight: graisse de la police (normal, bold, italic etc...),
//   $style: style de la police (normal, italic, oblique etc...)

// Font face, font family
@mixin font-face($font-name, $path, $weight: normal, $style: normal) {
	@font-face {
		font-family: string.quote($font-name);
		@debug url($path + ".eot");
		src: url($path + ".eot");
		src: url($path + ".eot?#iefix") format("embedded-opentype"),
			url($path + ".woff") format("woff"),
			url($path + ".ttf") format("truetype"),
			url($path + ".svg##{$font-name}") format("svg");
		font-weight: $weight;
		font-style: $style;
	}
}
