{% extends 'base.html.twig' %}

{% block title %}Hello SessionController!{% endblock %}

{% block body %}
<div class="page-session">
    <h1>Session</h1>
    <p>Nombre total des visites : {{ totalVisits }}</p>
</div>
{% endblock %}
