<div class="container">
	<h1 class="my-5">Gestion des stagiaires</h1>

	<form (submit)="handleSave()" class="formulaire">
		<div class="input-group-lg">
			<label class="form-label" for="name">Nom :</label>
			<input [(ngModel)]="newInternModel.name" class="form-control" id="name" name="name" required type="text">
		</div>

		<div class="input-group-lg">
			<label class="form-label" for="email">Email :</label>
			<input [(ngModel)]="newInternModel.email" class="form-control" id="email" name="email" required type="text">
		</div>

		<div class="input-group-lg">
			<label class="form-label" for="tel">Téléphone :</label>
			<input [(ngModel)]="newInternModel.phone" class="form-control" id="tel" name="tel" required type="tel">
		</div>

		<div class="d-inline-flex gap-2 mt-3">
			<button class="btn {{ editMode ? 'btn-info' : 'btn-primary' }}" type="submit">
				{{ editMode ? 'Modifier' : 'Ajouter' }}
			</button>

			<button (click)="handleCancel()" class="btn btn-outline-secondary" type="reset">
				Annuler
			</button>
		</div>
	</form>

	<hr>

	<table class="table table-striped table-bordered border-secondary-subtle">
		<thead>
		<tr>
			<th>Nom</th>
			<th>Email</th>
			<th>Tél</th>
			<th>Actions</th>
		</tr>
		</thead>

		<tbody>
		<tr *ngFor="let intern of interns">
			<td>{{ intern.name }}</td>
			<td>{{ intern.email }}</td>
			<td>{{ intern.phone }}</td>
			<td class="d-flex gap-2">
				<button (click)="handleEdit(intern.id!)" class="btn btn-info" type="button">Modifier</button>
				<button (click)="handleDelete(intern.id!)" class="btn btn-danger" type="button">Supprimer</button>
			</td>
		</tr>
		</tbody>
	</table>

	<br>

	<a class="btn btn-secondary" routerLink="/dashboard">Retour au dashboard</a>
</div>
