/// Navigation primary
/// ------------------

@use "../abstracts/variables" as vars;
@use "../abstracts/placeholders" as p;

.nav__list {
	@extend %list-reset;
	@extend %flex-center-evenly;
	gap: 1rem;
}

.nav__item {
	font-size: 1rem;
}

[aria-current] {
  color: vars.$is-active !important;
}
