/**
 * Concerne le style de la page "Accueil".
 */

section[role="article"] article {
	display: flex;
	/* Afin l'image soit placée en première position, utilisée essentiellement
	   pour garder une meilleur "sémantique" au niveau de l'HTML. */
	flex-direction: row-reverse;
	/* Espacement entre chaque élément enfant des articles */
	gap: var(--space);

	margin-bottom: calc(var(--space) * 2);
}

#related-articles ul {
	display: flex;
	flex-direction: column;
	gap: var(--space);

	/* Retire disques placés par les navigateur par défaut sur les éléments de
	   liste */
	list-style: none;
	padding: 0;
}

#related-articles a {
	color: initial;
	text-decoration: underline;
}

#grid {
	max-width: 300px;
}

#grid {
	/* Mise en page grille */
	display: grid;
	/* Zone de ma grille, permet de positionner les éléments nommés à des
	endroits bien précis dans une grille */
	grid-template-areas:
		"y y y"
		". . ."
		"m m ."
		". . .";
	gap: 0;

	align-items: center;

	text-align: center;
	font-weight: bold;
}

/* :empty est un pseudo class et ::before un pseudo-élément */
/* Permet de rajouter un contenu par défaut sur un élément dont le contenu est vide  */
#grid > div:empty::before {
	content: ".";
	color: transparent;
}
#grid > div {
	border: 1px solid #cccccc;
	padding-block: var(--space);
}

#year {
	/* Définit le nom de la zone de grille de cet élément */
	grid-area: y;
}
#month {
	/* Définit le nom de la zone de grille de cet élément */
	grid-area: m;
}
