{% extends 'base.html.twig' %}

{% block title %}Edit ESport{% endblock %}

{% block body %}
	<section class="page-sport">

		<div class="container">
			<h1>Edit ESport</h1>

			{{ include('e_sport/_form.html.twig', {'button_label': 'Update'}) }}

			<a href="{{ path('app_e_sport_index') }}">back to list</a>

			{{ include('e_sport/_delete_form.html.twig') }}
		</div>

	</section>
{% endblock %}
