/* Bases */

html,
body {
	padding: 0;
	margin: 0;

	width: 100%;
	height: 100%;

	font-family: Arial, sans-serif;
}

/** Tous les liens auront une couleur primaires par défaut. Retrait du
 *  soulignement des liens */
a {
	color: var(--primary-color);
	text-decoration: none;
}

/** Tous les titres h1 auront la couleur primaires par défaut */
h1 {
	color: var(--color-coral);
	&::before {
		content: "";
		margin-top: -15px;
		position: absolute;
		width: 80px;
		height: 7px;
		background: currentColor;
	}
}

.title {
	color: var(--color-coral);
	&::before {
		all: unset;
	}
}

/** Image par défaut à 100% de la largeur, spécifique à cette évaluation */
img {
	width: 100%;
}

/** Les boutons de type submit et les labels ont un curseur qui pointe */
button[type="submit"],
input[type="submit"],
label[for] {
	cursor: pointer;
}

h1,
.h1-like {
	font-size: 2em;
}
h2,
.h2-like {
	font-size: 1.5em;
}
h3,
.h3-like {
	font-size: 1.17em;
}
h4,
.h4-like {
	font-size: 1em;
}
h5,
.h5-like {
	font-size: 0.83em;
}
h6,
.h6-like {
	font-size: 0.67em;
}

/** Classe utilitaire qui nous permet d'être cohérent sur les largeurs et marges
 *  sur les zones principales */
.container {
	width: var(--container-width);
	margin-inline: auto;
}

/** Classe utilitaire en display flex en row, étant donné que l'on va utiliser
 *  plusieurs fois */
.flex-horizontal {
	display: flex;
	flex-direction: row;
}

/** Classe utilitaire en display flex en colonne, étant donné que l'on va
 *  utiliser plusieurs fois */
.flex-vertical {
	display: flex;
	flex-direction: column;
}

.space-between {
	justify-content: space-between;
}

/** Classe utilitaire sur les marges automatiques */
.ml-auto {
	margin-left: auto;
}
.mr-auto {
	margin-right: auto;
}
.mx-auto {
	/* margin-left et margin-right */
	margin-inline: auto;
}

/** Classes utilitaires qui donnent des largeurs différentes, afin de pouvoir
  * les utiliser en cas de besoin */
.w-10 {
	width: 10%;
}
.w-20 {
	width: 20%;
}
.w-30 {
	width: 30%;
}
.w-40 {
	width: 40%;
}
.w-50 {
	width: 50%;
}
.w-60 {
	width: 60%;
}
.w-70 {
	width: 70%;
}
.w-80 {
	width: 80%;
}
.w-90 {
	width: 90%;
}
.w-100 {
	width: 100%;
}

main > section {
	padding-block: 60px;
}
