/**
 * Les variables
 */
:root {
	/** Espacement par défaut */
	--space1: 8px;
	--space2: 16px;
	--space3: 24px;
	--space4: 32px;
	--space5: 40px;
	--space6: 48px;
	--space7: 56px;
	--space8: 64px;
	--space9: 72px;
	--space10: 80px;

	/** Tailles par défaut */
	--container-width: 1024px;

	/** border-radius par défaut */
	--radius: 4px;
	--radius-sm: 8px;
	--radius-md: 12px;
	--radius-lg: 16px;
	--radius-full: 50%;

	/** Typographies */
	--text-font: "Rubik", sans-serif;
	--title-font: "Roboto Slab", sans-serif;

	/** Couleurs */
	--primary-color: ;
	--secondary-color: ;

	--color-coral: #da612a;
	--color-orange: #ff9f1c;
	--color-blue: #66b3cf;
	--color-gray: #898989;
	--color-black: #000000;
	--color-white: #ffffff;
}
