@use "../../../assets/scss/abstracts/mixins" as mx;

.hero {
  flex-grow: 1;
  display: inline-grid;
  align-content: space-between;
  justify-content: center;
  gap: var(--spacing-xl);
  background-position: center;
  background-size: cover;
  background-image: url(/img/hero.png) !important;
  background-repeat: no-repeat;
  background-attachment: fixed;
  box-shadow: inset 0 0 150px 50px var(--color-black-ultra-dark);
  padding: var(--spacing-xl);
  text-align: center;

  min-height: 30vh;

  @include mx.use-breakpoint-from-md {
    min-height: 50vh;
  }

  h1 {
    font-family: "DM Sans", sans-serif;
    font-size: 32px;
    max-width: 260px;
    margin: 0;
    margin-inline: auto;
    text-shadow: 3px 3px 8px var(--color-black-ultra-dark);
  }
}

.annonce-form {
  display: flex;
  padding: var(--spacing-md);
  border-radius: var(--radius-full);
  background: var(--color-white);

  font-family: "Roboto", sans-serif;
  font-size: var(--text-sm);
  transition: all 250ms ease-in-out;

  @include mx.use-breakpoint-from-md {
    font-size: var(--text-md);
  }

  &:focus-within {
    box-shadow: 0 0 8px 3px #3f397f;
    animation: border-shadow 5s infinite reverse linear;
  }
}

.annonce-form > div {
  position: relative;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  gap: var(--spacing-sm);
  max-width: 90px;
  padding: var(--spacing-sm);
  background: #e9e9f2;
}

.annonce-form > div:first-of-type {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.annonce-form > div:last-of-type {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  margin-right: var(--spacing-sm);
}

.annonce-form label {
  color: #3f397f;
}

.annonce-form input {
  border: none;
  background: transparent;
  outline: none;
  border-radius: var(--radius-md);
  padding-inline: var(--spacing-xs);
}

.annonce-form button[type="submit"] {
  --outline: #6862ae;

  align-self: center;
  padding: var(--spacing-sm);
  border: none;
  border-radius: var(--radius-full);
  background: #303350;
  color: var(--color-white);
  font-weight: bolder;
}

.annonce-list {
  flex-grow: 1;
  overflow: auto;
  display: grid;
  gap: var(--spacing-md);

  @include mx.use-breakpoint-from-md {
    grid-template-columns: 1fr minmax(300px, 1fr);
    border-top-left-radius: var(--radius-xxl);
  }

  ui-alert {
    grid-column: span 2;
    margin: var(--spacing-xl);
  }
}

ui-loader {
  grid-column: span 2;
}
