footer {
	display: flex;
	flex-direction: column;
	background-color: #3e4551;
	font-family: var(--ff-ibm-plex);
	gap: 24px;

	a {
		transition: all 250ms;
		color: #f6f0e1;
		text-decoration: none;
		text-transform: uppercase;
	}

	.navbar {
		padding: 32px;

		a {
			margin-inline: 8px;
		}
	}

	.toolbar {
		display: flex;
		padding: 16px;
		background: #2c3037;
		color: #f6f0e1;
	}
}
