section[role="presentation"] {
	position: relative;
	z-index: 1;
	height: 100vh;
	padding: 24px;
	background: hsl(210 70% 55%);
	background-image: var(--presentation);
	background-repeat: no-repeat;
	background-size: cover;
	color: var(--text);
	text-shadow: 1px 1px 2px var(--shadow);

	h1,
	a {
		color: var(--text);
	}

	/*
	&::before {
		content: "";
		position: absolute;
		z-index: 0;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;

		height: 50vh;
		background: linear-gradient(
			to bottom,
			hsla(0, 0%, 0%, 0.35),
			hsla(0, 0%, 100%, 0.1)
		);
		pointer-events: none;
	}

	&::after {
		content: "";
		position: absolute;
		z-index: 0;
		top: 50vh;
		left: 0;
		right: 0;
		bottom: 0;

		height: 50vh;
		background: linear-gradient(
			to top,
			hsla(0, 0%, 0%, 0.35),
			hsla(0, 0%, 100%, 0.1)
		);
		pointer-events: none;
	}
	*/

	.toolbar,
	.navbar {
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 16px;
	}

	.navbar {
		flex-direction: row;
	}

	.navbar .logo img {
		width: 200px;
	}

	.navbar nav {
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 16px;

		a {
			font-family: var(--ff-ibm-plex);
			font-size: 20px;
			text-decoration: none;
			text-transform: uppercase;
		}
	}

	.hero {
		color: var(--text);
		text-align: center;

		h1 {
			margin: 0;
			font-family: Georgia, sans-serif;
			font-size: 120px;
		}

		p {
			margin: 0;
			font-family: var(--ff-ibm-plex);
			font-size: 36px;
		}

		.btn {
			margin-block: 16px;
			padding: 16px;
			font-size: 26px;
		}

		.contact {
			display: block;
			padding: 16px;
			font-family: var(--ff-ibm-plex);
			font-size: 14px;
			font-stretch: condensed;
		}
	}

	.rgpd {
		display: flex;
		position: absolute;
		right: 0;
		bottom: 0;
		left: 0;
		align-items: center;
		justify-content: space-around;
		padding: 16px;
		background: #1561ad;
		color: #f6f0e1;
		text-shadow: none;
		gap: 8px;

		h1 {
			color: #f6f0e1;
			font-size: 22px;
		}

		p {
			margin: 0;
			font-family: var(--ff-ibm-plex);
		}

		> div {
			display: flex;
			flex-direction: column;
			gap: 8px;
		}

		a {
			color: #f6f0e1;
			text-decoration: none;
		}

		.accept-and-close {
			padding: 8px;
			border-radius: 4px;
			background: #1c77ac;
			box-shadow: 0 1px 2px 0 #000000;
			font-family: var(--ff-ibm-plex);
		}
	}
}
