/** Variables **/
:root {
	--space: 8px;
	--default-border-radius: 8px;
	--outline-color: var(--color-ultra-lightcyan);
	--color-black: #212121;
	--color-white: Canvas;
	--color-lightgray: #e5e5e5;
	--color-gray: #c5bfbf;
	--color-ultra-lightcyan: #b3dff3;
	--color-lightcyan: #93bfd3;
	--color-cyan: #56707c;
	--color-darkcyan: #455a64;
	--color-ultra-darkcyan: #3b484e;
	--color-ultra-lightblue: #d3deed;
	--color-lightblue: #aecaf0;
	--color-blue: #1861af;
	--color-darkred: #a0090e;
	--color-darkgreen: #057009;
}

/** Bases */

*,
*::after,
*::before {
	box-sizing: border-box;
}

*:not(input, textarea):focus-visible {
	outline: 3px solid var(--outline-color);
}

html,
body {
	max-width: 100ch;
	margin: 0;
	margin: auto;
	padding: 0;
	background-color: var(--color-ultra-lightcyan);
	color: var(--color-black);
	font-family: Roboto, sans-serif;
	font-size: 14px;
	line-height: 1.4;
	scroll-behavior: smooth;
	scroll-padding-top: 8px;
}

a {
	text-decoration: underline;
}

h1,
h2 {
	color: var(--color-darkcyan);
}

h1 {
	font-size: 2rem;
}

h2 {
	font-size: 1.5rem;
}

table {
	border-collapse: collapse;
	border: 1px solid;
}

thead {
	background: var(--color-black);
	color: var(--color-white);
}

tbody td {
	border-inline: 1px solid var(--color-gray);
	border-bottom: 1px solid var(--color-gray);
}

tbody tr {
	background: var(--color-white);
}

tbody tr:nth-child(odd) {
	background: var(--color-ultra-lightblue);
}

tbody tr:hover {
	background: var(--color-lightblue);
}

th,
td {
	padding: 8px;
}

label[for] {
	cursor: pointer;
}

/**
 * Barre horizontale de navigation
 */

.header-nav {
	display: flex;
	position: sticky;
	top: var(--space);
	align-items: center;
	justify-content: space-between;
	margin: 4px;
	margin-bottom: 64px;
	padding: var(--space);
	border-radius: 8px;

	/* background: rgba(68, 167, 212, 0.25); */

	/* background: rgb(147, 191, 211, 0.25); */
	background: rgb(86 112 124 / 25%);
	color: var(--color-white);
	backdrop-filter: blur(8px);
}

nav[role="navigation"] {
	display: flex;
	flex-wrap: wrap;
	gap: var(--space);
}

nav > a {
	display: inline-block;
	padding: var(--space);
	transition: all 250ms;
	border-radius: var(--default-border-radius);
	background: #212121;
	color: var(--color-white);
	text-decoration: none;
}

nav > a:hover {
	background: var(--color-darkcyan);
	color: var(--color-ultra-lightcyan);
}

/** Logo */

.logo {
	display: flex;
	flex-shrink: 0;
	padding: 4px;
	transition: all 250ms ease-in-out, border-radius 500ms ease-in-out,
		background-color 400ms ease-in-out;
	border-radius: 4px;
	background: var(--color-white);
	color: var(--color-black);
}

.logo figure {
	display: inline-flex;
	align-items: center;
	gap: calc(var(--space) * 2);
	margin: 0;
	padding: 0;
}

.logo img {
	--img-filter: var(--color-darkred);

	flex-shrink: 0;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	object-fit: cover;
	filter: drop-shadow(0 2px 3px var(--img-filter));
}

.logo:hover img {
	--img-filter: var(--color-darkgreen);
}

.logo figcaption {
	width: 100%;
	padding-right: 8px;
}

.logo a {
	color: var(--color-black);
	font-weight: 700;
	text-decoration: none;
}

.logo a:hover {
	color: LinkText;
}

/** Section */

section {
	margin-bottom: 64px;
}

section p {
	margin: 0;
}

section a {
	--outline-color: currentcolor;

	border-bottom: 1px solid currentcolor;
}

/** Services */

.services {
	display: flex;
	flex-wrap: wrap;
	gap: var(--space);
	padding: 0;
}

.services .card {
	display: grid;
	align-items: start;
	max-width: 255px;
	margin: 0;
	padding: calc(var(--space) * 2);
	list-style-type: none;
	border: 1px solid var(--color-lightgray);
	border-radius: var(--default-border-radius);
	background: var(--color-white);
	gap: var(--space);
}

.services .card h3 {
	margin: 0;
}

/** Page A propos de nous */

#about-us article[role="article"] {
	max-width: 80ch;
	margin: auto;
}

/** Contact & Registration */

#signup form,
#contact form {
	display: flex;
	flex-direction: column;
	margin-top: calc(var(--space) * 4);
	background: transparent;
	gap: calc(var(--space) * 2);
}

#signup fieldset,
#contact fieldset {
	margin: 0;
	padding: 0;
	border: 0;
}

#signup fieldset,
#contact fieldset:not(:last-of-type) {
	display: flex;
	flex-wrap: wrap;
	gap: calc(var(--space) * 2);
}

#signup .text-input,
#contact .text-input {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	margin-bottom: calc(var(--space) * 2);
	gap: var(--space);
}

#contact legend {
	margin: auto;
	margin-block: calc(var(--space) * 3);
	padding-inline: var(--space);
	font-size: 2rem;
}

#contact textarea {
	width: 100%;
	min-height: 150px;
}

#signup :is(input, textarea, button[type="submit"]),
#contact :is(input, textarea, button[type="submit"]) {
	padding: 8px;
	border: 0;
	border-radius: 4px;
	background-color: var(--color-white);
	font-size: 16px;
}

#signup :is(input, textarea, button[type="submit"]):hover,
#signup :is(input, textarea, button[type="submit"]):focus,
#contact :is(input, textarea, button[type="submit"]):hover,
#contact :is(input, textarea, button[type="submit"]):focus {
	outline: 3px solid var(--color-cyan);
}

#signup :is(input, textarea, button[type="submit"]):placeholder-shown,
#contact :is(input, textarea, button[type="submit"]):placeholder-shown {
	color: var(--color-black);
}

#signup select,
#contact select {
	height: calc(var(--space) * 4);
}

#signup button[type="submit"],
#contact button[type="submit"] {
	display: inline-block;
	width: 100%;
	padding: calc(var(--space) * 2);
	cursor: pointer;
}

.help {
	color: var(--color-darkcyan);
	cursor: help;
}
