<form method="post" action="{{ path('app_moto_delete', {'id': moto.id}) }}" onsubmit="return confirm('Êtes vous certains de vouloir supprimer cette moto');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ moto.id) }}">
    <button class="btn btn-danger btn-full" type="submit" title="Supprimer">
        {{ button_label|default('Supprimer') }}
    </button>
</form>
