{% extends 'base.html.twig' %}

{% block title %}Edit Moto{% endblock %}

{% block body %}
    <a href="{{ path('app_moto_index') }}">Retour à la liste des motos</a>
    <h1>Modifier la moto {{ moto.nom }}</h1>

    {{ include('moto/_form.html.twig', {'button_label': 'Modifier'}) }}

    {{ include('moto/_delete_form.html.twig') }}
{% endblock %}
