{% extends 'base.html.twig' %}

{% block title %}New Moto{% endblock %}

{% block body %}
    <a href="{{ path('app_moto_index') }}">&laquo; Retour à la liste</a>

    <h1>Ajouter une nouvelle moto</h1>

    {{ include('moto/_form.html.twig') }}

{% endblock %}
