* {
	margin: 0;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

a {
	text-decoration: none;
}

.navbar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 1rem;
	background: #000000;
	color: #ffffff;
}

.navbar_link {
	padding: 0.5rem;
	transition: all 200ms;
	border-radius: 4px;
	color: #ffffff;
	text-transform: lowercase;
}

.navbar_link--active {
	background: #ffffff;
	color: #000000;
}

.navbar_link:hover:not(.navbar_link--active) {
	background: #333333;
	color: #ffffff;
}

.navbar_logo_image {
	border-radius: 50%;
}

.navbar_search_form {
	display: flex;
}

.navbar_search {
	padding: 0.5rem;
	border: 1px solid currentcolor;
	outline: none;
	color: #ff4500;
	font-size: 1rem;

	&::placeholder {
		color: #ff7b00;
	}
}

.navbar_search_btn {
	padding: 0.5rem;
	border: none;
	outline: none;
	background: #ff4500;
	color: #ffffff;
	font-weight: 700;
}
