{% extends 'base.html.twig' %}

{% block title %}Password Reset Email Sent{% endblock %}

{% block body %}
	<p>
		{{ 'reset_password.check_email.0' | trans }}
		{{ 'reset_password.check_email.1' | trans({
			'%expire_in%': resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle')
		}) }}
	</p>
	<p>{{ 'reset_password.check_email_spam' | trans({
			'%forgot_password_route%': path('app_forgot_password_request')
		}) | trans }}</p>
{% endblock %}
