<h1>Hi!</h1>

<p>{{ 'reset_password.email.0' | trans }}</p>

<a href="{{ url('app_reset_password', {token: resetToken.token}) }}">{{ url('app_reset_password', {token: resetToken.token}) }}</a>

<p>
	{{ 'reset_password.email.1' | trans({
		'%expire_in%': resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle')
	}) }}
</p>
