:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-weight: 400;
	line-height: 1.5;
	text-rendering: optimizelegibility;
	color-scheme: light dark;
	font-synthesis: none;
}
