p {
	background-color: #ff0000;
	box-shadow: 1px 1px 1px rgb(255 0 0);

	/* https://drafts.csswg.org/css-color/#named-colors */
	color: #ff0000;
	backdrop-filter: drop-filter(1px 1px 1px hsl(0 100% 50% / 50%));
}

p:hover {
	/* https://drafts.csswg.org/css-color/#css-system-colors */
	color: AccentColor;
}
