/* Primitives */
:root {
  /**
   Couleurs
   */
  --color-black: #212121;
  --color-black-darker: #1a1918;
  --color-black-ultra-dark: #0d0d0d;
  --color-white: #f7f7f7;
  --color-red: #e06666;
  --color-red-darker: #df4d4d;
  --color-yellow: #ffc107;
  --color-yellow-opa25: rgba(255, 193, 7, 0.25);
  --color-orange: #ffa000;
  --color-cyan: #1499ae;
  --color-green: #14ae45;
  --color-green-dark: #185f2f;

  /**
   Espacements (Marges, paddings)
   */
  --spacing-xs: 0.25rem;
  --spacing-sm: 0.5rem;
  --spacing-md: 1rem;
  --spacing-lg: 1.5rem;
  --spacing-xl: 2rem;

  /**
    Espaces entre éléments (Gap)
    */
  --gap-xs: 0.25rem;
  --gap-sm: 0.5rem;
  --gap-md: 1rem;
  --gap-lg: 1.5rem;
  --gap-xl: 2rem;

  /**
   Typographie
     - Tailles	  --text-*	--text-16: 1rem;	          Tailles de police
     - Familles	--font-*	--font-poppins: 'Poppins';	Familles de police
   */

  --text-sm: 12px;
  --text-md: 14px;
  --text-normal: 16px;
  --text-lg: 18px;
  --text-xl: 24px;
  --text-xxl: 32px;
  --text-xxxl: 44px;

  --font-nunito: 'Nunito', sans-serif;
  --font-roboto: 'Roboto', sans-serif;
  --font-dm-sans: 'DM Sans', sans-serif;
  --font-aguafina: 'Aguafina Script', sans-serif;

  /**
   Arrondis
   */
  --radius-sm: 2px;
  --radius-md: 4px;
  --radius-lg: 8px;
  --radius-xl: 12px;
  --radius-xxl: 16px;
  --radius-full: 999px;
}

/* Tokens */
:root {
  /* Couleurs principales */
  --primary: var(--color-yellow);

  /* Surfaces et contenus */
  --body-surface: var(--color-black);
  --body-on-surface: var(--color-white);
  --input-group-on-surface: var(--color-black);

  /* Interactions */
  --link: var(--color-red);
  --link-hover: var(--color-red-darker);

  /* États */
  --danger: var(--color-red);
  --success: var(--color-green-dark);
  --warning: var(--color-orange);
}
