.contact-page {
	display: flex;
	gap: var(--spacing-4);
	margin-block: var(--spacing-10);
	@media screen and (max-width: 1225px) {
		flex-wrap: wrap;
	}
}

.contact-info {
	display: flex;
	flex-direction: column;
}

.contact-form {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: var(--spacing-2);
	border: 1px solid var(--color-lightgray);
	border-radius: var(--border-radius-l);
	background-color: var(--color-ultra-white);

	> * {
		margin-top: var(--spacing-3);
	}

	@media screen and (min-width: 500px) {
		padding: var(--spacing-6);
	}
}

.contact-form :is(input, textarea) {
	padding: var(--spacing-2);
	border-radius: var(--border-radius-s);
	background-color: var(--color-gray-100);
	@media screen and (min-width: 425px) {
		border-radius: var(--border-radius-l);
	}
}

.contact-form .input-group:has(textarea) {
	flex-grow: 1;
	width: 100%;
}

.contact-form button[type="submit"] {
	padding: var(--spacing-1);
	padding-inline: var(--spacing-3);
	background-color: var(--color-black);
	color: var(--color-white);
	border-radius: var(--border-radius-full);
	font-weight: bold;
	transition: all 250ms ease-in-out;

	&:hover {
		background-color: var(--color-gray-800);
	}
}

.contact-info > :is(.contact-us,.contact-help) > ul {
	display: flex;
	gap: var(--spacing-6);
	padding: 0;
	list-style: none;
}

.contact-us h1 {
	margin: 0;
	font-size: 56px;
}

.contact-help h2 {
	margin: 0;
	font-size: 40px;
}

.contact-us a,
.contact-help a {
	color: var(--color-black);
	font-weight: bold;

	&:hover {
		text-decoration: underline;
	}
}

.contact-us,
.contact-help {
	line-height: 1.7;
}
