<div class="container mt-5">
	<details>
		<summary>Home</summary>
		<app-home/>
	</details>

	<hr>

	<details>
		<summary>Data Bindings</summary>
		<app-data-bindings/>
	</details>

	<hr>

	<details>
		<summary>Directives</summary>
		<app-directives/>
	</details>

	<hr>

	<details>
		<summary>IO</summary>
		<app-input firstname="Mike" group="Web"/>
		<hr>
		<app-output firstname="Erica" group="group" (takeAttendance)="alert($event)"/>
		<hr>
		<app-trainer/>
	</details>

	<hr>

	<details>
		<summary>Service</summary>
		<app-service/>
	</details>

	<hr>

	<details>
		<summary>Contact</summary>
		<app-contact (contactAdded)="handleContactAdded()"/>
		<app-contact-list #contacts/>
	</details>

	<hr>

	<details open>
		<summary>Observable Pipe</summary>
		<app-intern-list/>
	</details>

	<router-outlet/>

</div>
