<div class="container mt-5">
	<details>
		<summary>Home</summary>
		<app-home/>
	</details>

	<hr>

	<details>
		<summary>Data Bindings</summary>
		<app-data-bindings/>
	</details>

	<hr>

	<details>
		<summary>Directives</summary>
		<app-directives/>
	</details>

	<hr>

	<details>
		<summary>IO</summary>
		<app-input firstname="Mike" group="Web"/>
		<hr>
		<app-output firstname="Erica" group="group" (prendrePresence)="alert($event)"/>
		<hr>
		<app-formateur/>
	</details>

	<hr>

	<details open>
		<summary>Service</summary>
		<app-service/>
	</details>

	<br>

	<details>
		<summary>State</summary>
		<app-state/>
	</details>

	<router-outlet/>

</div>
