@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Roboto:wght@100&display=swap");

*,
*::before,
*::after {
	box-sizing: border-box;
}

html,
body {
	width: 100%;
	height: 100%;
}

body {
	margin: 0;
}

section[role="presentation"] {
	position: relative;
	z-index: 1;
	height: 100vh;
	padding: 24px;
	text-shadow: 1px 1px 2px #000;

	background: hsl(210, 70%, 55%);
	background-image: url(./assets/imgs/hero-bg.jpg);
	background-size: cover;
	background-repeat: no-repeat;

	/*
	&::before {
		content: "";
		position: absolute;
		z-index: 0;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;

		height: 50vh;
		background: linear-gradient(
			to bottom,
			hsla(0, 0%, 0%, 0.35),
			hsla(0, 0%, 100%, 0.1)
		);
		pointer-events: none;
	}

	&::after {
		content: "";
		position: absolute;
		z-index: 0;
		top: 50vh;
		left: 0;
		right: 0;
		bottom: 0;

		height: 50vh;
		background: linear-gradient(
			to top,
			hsla(0, 0%, 0%, 0.35),
			hsla(0, 0%, 100%, 0.1)
		);
		pointer-events: none;
	}
	*/

	a {
		color: #ffffff;
	}

	.toolbar,
	.navbar {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 16px;
	}

	.toolbar {
		font-size: 14px;
		margin-bottom: 8px;
	}

	.toolbar > a,
	.toolbar > a img {
		vertical-align: middle;
	}

	.toolbar > a {
		text-decoration: none;
	}

	.toolbar a:last-child {
		margin-left: auto;
	}

	.navbar .logo img {
		width: 200px;
	}

	.navbar nav {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 16px;

		a {
			font-family: "Ibm Plex sans", sans-serif;
			font-size: 20px;
			text-decoration: none;
			text-transform: uppercase;
		}
	}

	.hero {
		color: #fff;
		text-align: center;

		h1 {
			font-family: Georgia, sans-serif;
			font-size: 100px;
			margin: 0;
		}

		p {
			font-family: "Ibm Plex Sans", sans-serif;
			font-size: 26px;
			margin: 0;
		}

		.btn {
			font-size: 16px;
			padding: 16px;
		}
		.contact {
			font-family: "Ibm Plex Sans", sans-serif;
			font-stretch: condensed;
			display: block;
			padding: 16px;
		}
	}

	.rgpd {
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
		background: #1561ad;
		color: #f6f0e1;

		display: flex;
		align-items: center;
		gap: 8px;
		justify-content: space-around;
		padding: 16px;

		h1 {
			font-family: Georgia, sans-serif;
			font-size: 22px;
			margin: 0;
		}

		p {
			margin: 0;
			font-family: "Ibm Plex sans", sans-serif;
		}

		> div {
			display: flex;
			flex-direction: column;
			gap: 8px;
		}

		a {
			text-decoration: none;
		}

		.accept-and-close {
			font-family: "Ibm Plex sans", sans-serif;
			padding: 8px;
			background: #1c77ac;
			border-radius: 4px;
			box-shadow: 0 1px 2px 0 #000;
		}
	}
}

.btn {
	display: inline-block;
	margin-top: 8px;
	padding: 8px;
	border-radius: 3px;
	background: #1c77ac;
	color: white;
	font-family: "Ibm Plex Sans", sans-serif;
	font-size: 12px;
	font-weight: 600;
	text-transform: uppercase;
	text-decoration: none;
}

section#services {
	padding-block: 32px;
	padding-inline: 13rem;

	> h1 {
		font-family: Georgia, sans-serif;
		font-size: 72px;
		margin-top: 0;
		color: #3e4551;
	}

	.cards {
		display: flex;
		justify-content: center;
		gap: 8px;

		> article {
			display: flex;
			align-items: end;
			flex-shrink: 0;
			width: 400px;
			height: 500px;
			font-size: 22px;
			background-size: cover;
			background-repeat: no-repeat;

			h1,
			p {
				margin: 0;
			}

			h1 {
				font-family: Georgia, serif;
			}

			p {
				font-family: "Ibm Plex Sans", sans-serif;
			}

			> div {
				display: flex;
				flex-direction: column;
				gap: 8px;
				align-content: space-between;
				align-items: start;
				height: 200px;
				padding: 1rem;
				background: hsla(0, 0%, 100%, 0.8);

				p {
					flex-grow: 1;
					font-size: 16px;
				}
			}
		}
	}

	#trad {
		background-image: url(./assets/imgs/traduction.jpg);
	}

	#lang {
		background-image: url(./assets/imgs/cours-de-langue.jpg);
	}

	#correction {
		background-image: url(./assets/imgs/correction.jpg);
	}
}

section#about {
	height: 100vh;

	padding-block: 32px;
	padding-inline: 13rem;

	display: flex;
	gap: 64px;

	h1 {
		margin: 0;
		font-family: Georgia, sans-serif;
		font-size: 72px;
	}

	h2 {
		font-family: "Ibm Plex Sans", sans-serif;
		font-size: 36px;
		font-weight: 400;
	}

	#about-us {
		max-width: 410px;

		p {
			font-family: "Ibm Plex Sans", sans-serif;
			font-size: 22px;
		}
	}

	#cadre {
		flex-grow: 1;
		background-image: url(./assets/imgs/qui.jpg);
		background-size: cover;

		position: relative;
		padding: 60px;

		font-family: "Ibm Plex Sans", sans-serif;
		font-size: 22px;
		text-align: center;

		&::before {
			content: "";
			position: absolute;
			inset: 0;
			margin: 24px;
			background: #fffdf8;
			pointer-events: none;
		}

		> * {
			position: relative;
		}

		p {
			text-align: left;
		}

		a {
			display: inline-block;
		}
	}
}
