/**
 * En-tête et barre de navigation horizontale
 */

main[role="main"] > header {
	display: flex;
	/* Espacement entre les éléments sur l'axe X */
	justify-content: space-between;
	/* Alignement au centre sur l'axe Y */
	align-items: center;

	padding-block: calc(var(--space) * 2);
	padding-inline: calc(var(--space) * 4);

	max-height: 130px;

	background-color: var(--header-bg-color);
}

main[role="main"] > header > h1 {
	font-size: 1.5rem;
	color: var(--primary-color);

	/* Pour que le titre de l'en-tête ne se déforme pas lors du
	redimensionnement */
	flex-shrink: 0;
}

nav[role="navigation"] {
	display: flex;
	padding: var(--space);
}

nav[role="navigation"] > a {
	/* Les liens ont besoin d'être en inline-block afin d'être stylisés avec les
	bons espacements, (notamment pour le padding) */
	display: inline-block;
	padding: calc(var(--space) * 2);

	/* Propriété sur le texte */
	font-weight: 700;
	text-transform: uppercase;
	text-decoration: none;

	border: 1px solid transparent;
	background-color: var(--nav-link-bg-color);
	color: var(--nav-link-color);

	/* Effet sur la couleur de fond */
	transition: background-color 250ms;
}

/* La notation :hover est un pseudo-élément qui s'active lors du passage de la
 	souris sur un élément */
nav[role="navigation"] > a:hover {
	background-color: #1b7bc4;
}
nav[role="navigation"] > a.is-active {
	background-color: var(--nav-link-bg-active-color);
	color: var(--nav-link-active-color);
	border-color: var(--nav-link-active-color);
}
