/**
 * Les variables
 */
:root {
	/** Espacement par défaut */
	--space: 8px;

	/* Les couleurs générales */
	--white-color: #ffffff;
	--primary-color: #0091ff;

	/* Les couleurs des différents éléments HTML */
	--header-bg-color: #f5f5f5;
	--nav-link-bg-color: var(--primary-color);
	--nav-link-bg-active-color: var(--white-color);
	--nav-link-color: var(--white-color);
	--nav-link-active-color: var(--primary-color);

	--input-bg-color: #e9ecef;

	--button-bg-color: var(--primary-color);
	--button-color: var(--white-color);
}
