/*
 L'HTML DOIT ressembler à ceci :

 <button class="btn">
	<span>Mon super bouton</span>
 </button>
 */

:root {
	--btn-border-color: #ffffff;
	--btn-border-width: 2px;
}

.btn {
	position: relative;
	padding: 0;
	border: none;
	box-shadow: 0 0 5px #333333;
	color: #ffffff;

	&::before,
	&::after {
		content: "";
		position: absolute;
		width: var(--btn-border-width);
		height: 0%;
		transition: all 500ms ease;
		background: var(--btn-border-color);
		box-shadow: 0 0 5px var(--btn-border-color);
	}

	&::before {
		top: 0;
		right: 0;
	}

	&::after {
		bottom: 0;
		left: 0;
	}

	&:hover::before,
	&:hover::after {
		height: 100%;
	}
}

.btn span {
	display: inline-block;
	position: relative;
	width: 100%;
	height: 100%;

	&::before,
	&::after {
		content: "";
		position: absolute;
		width: 0;
		height: var(--btn-border-width);
		transition: all 500ms ease;
		background: var(--btn-border-color);
		box-shadow: 0 0 5px var(--btn-border-color);
	}

	&::before {
		top: 0;
		left: 0;
	}

	&::after {
		right: 0;
		bottom: 0;
	}

	&:hover::before,
	&:hover::after {
		width: 100%;
	}
}
