/**
 * Concerne le style de la page "Contact".
 *
 * Étant donné que cette stylesheet va être chargée uniquement pour la page
 * contact.html, il est nécessaire de lui spécifier la couche `@layer page` et
 * de mettre nos styles à l'intérieur de cette couche.
 */

:root {
	--contact-btn-bg: #212121;
	--contact-btn-text: #fff;
}

@layer page {
	#page-contact {
	}

	.contactform {
		gap: var(--space1);
	}

	.contactform_group {
		gap: var(--space1);
	}

	.contactform_input {
		padding: var(--space1);
		border: 1px solid;
		border-radius: var(--radius);
	}

	.contactform_submit {
		padding: var(--space2);
		border: none;
		border-radius: var(--radius-sm);
		background: var(--contact-btn-bg);
		color: var(--contact-btn-text);
	}
}
