*,
*::before,
*::after {
	box-sizing: border-box;
}

:root {
	color-scheme: dark light;

	--space: 0.5rem;

	@media (prefers-color-scheme: dark) {
		--primary-color: #cdaa2a;
		--secondary-color: #2a99cd;
		--body-bg: #3c4043;
		--aside-bg: var(--body-bg);

		--input-bg: linear-gradient(to right, var(--body-bg), #383a3c);
		--header-nav-link-bg-hover: linear-gradient(to left, #5e6062, #56585b);

		--error-bg: #c94242;
		--success-bg: #37b437;
	}

	@media (prefers-color-scheme: light) {
		--primary-color: #2a99cd;
		--secondary-color: #cdaa2a;

		--body-bg: #f5e7fd;
		--aside-bg: var(--body-bg);

		--input-bg: linear-gradient(to right, #f5e7fd, #dfe7f5);
		--header-nav-link-bg-hover: linear-gradient(to left, #ecd5fa, #d1ddf2);

		--error-bg: #ed666c;
		--success-bg: #6874d6;
	}

	--input-color: FieldText;
	--input-placeholder: GrayText;

	--button-bg: CanvasText;
	--button-color: Canvas;

	--header-bg: var(--input-bg);
	--header-text: CanvasText;

	--header-nav-link: CanvasText;
}

html,
body {
	width: 100%;
	height: 100%;
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
}

body {
	display: grid;
	grid-template-columns: minmax(max-content, min-content) minmax(50ch, auto) minmax(
			max-content,
			min-content
		);
	grid-template-rows: auto 1fr auto;
	grid-template-areas:
		"header header header"
		"aside main debug"
		"aside main debug"
		"footer footer footer";
	overflow: hidden;
}

body > header {
	grid-area: header;
}

body > aside {
	grid-area: aside;
}

body > main {
	grid-area: main;
}

body > section {
	grid-area: debug;
}

body > footer {
	grid-area: footer;
}

header {
	position: sticky;
	top: 0;

	display: inline-flex;
	justify-content: space-around;
	flex-wrap: wrap;

	background: var(--header-bg);
	color: var(--header-text);
}

header > nav {
	margin-inline: auto;
	padding: var(--space);

	display: flex;
	align-items: center;
	gap: 8px;
}

aside > nav > a,
header > nav > a {
	display: inline-block;
	padding: var(--space);
	color: var(--header-nav-link);
	text-decoration: none;
}

header > nav button {
	padding: 12px !important;
}

.active,
nav > a:hover {
	text-decoration: underline;
	text-decoration-thickness: 4px;
	text-decoration-color: var(--primary-color);
	padding: var(--space);
	border-radius: 4px;
	background: var(--header-nav-link-bg-hover);
}

h1 {
	font-size: 2rem;
}

:is(h1, h2, h3, h4, h5, h6) small {
	padding: 4px;
	font-size: 0.75em;
	border-radius: 4px;
	line-height: 24px;
	background: var(--input-bg);
	color: var(--primary-color);
	vertical-align: middle;
}

aside {
	background: var(--aside-bg);
}
aside > nav {
	display: flex;
	flex-direction: column;
	gap: var(--space);
	padding: var(--space);
}

main {
	overflow: auto;
	width: 100%;
	padding: var(--space);

	> section {
		max-width: 80ch;
		margin-inline: auto;
	}
}

body > section {
	overflow: auto;
	width: 100%;
	padding: var(--space);
	resize: horizontal;

	> details {
		max-width: 80ch;
		margin-inline: auto;
	}
}

form {
	display: flex;
	flex-direction: column;
	gap: 16px;

	&.max-wc > * {
		width: max-content !important;
	}
}

form > div {
	display: flex;
	flex-direction: column;
	gap: var(--space);
}

label[for]:has(+ input[id], + textarea[id]) {
	display: block;
	cursor: pointer;
}

input[type="number"],
input[type="password"],
input[type="text"],
textarea {
	width: 100%;
	resize: none;
	padding: var(--space);
	border-radius: 4px;
	border: none;
	background: var(--input-bg);
	color: var(--input-text);
}

button:focus,
input:focus,
textarea:focus {
	outline: 3px solid var(--primary-color);
}

textarea {
	height: 150px;
}

button[type="submit"] {
	width: 100%;
	padding: 16px;
	cursor: pointer;
	border: none;
	border-radius: 3px;
	background: var(--button-bg);
	color: var(--button-color);

	strong {
		background: var(--button-color);
		color: var(--button-bg);
		padding-block: 4px;
		padding-inline: 4px;
		border-radius: 2px;
	}
}

button {
	background-color: var(--button-bg);
	color: var(--button-color);
	cursor: pointer;
}
button:active {
	outline-style: inset;
	background-color: ButtonBorder;
	color: ButtonText;
}

footer {
	position: sticky;
	bottom: 0;

	display: flex;
	flex-direction: column;
	align-items: center;
	gap: var(--space);
	padding: 32px;

	background: var(--header-bg);

	nav {
		display: flex;
		gap: var(--space);
	}

	nav a:hover {
		padding: 0;
	}

	p {
		margin: 0;
	}
}

table {
	width: 100%;
	border-collapse: collapse;
	border: 1px solid;
}

thead,
table > tbody > tr > th {
	font-weight: bold;
	background: CanvasText;
	color: Canvas;
}

table > tbody > tr > th {
	box-shadow: 1px 1px 1px CanvasText;
}

tbody > tr {
	background: Canvas;
	color: CanvasText;
}
tbody > tr:nth-child(odd) {
	background: #3b484e;
}
tbody > tr:hover {
	background: #56707c;
}

table > tbody > tr > td {
	border-inline: 1px solid currentColor;
	border-top: 2px solid currentColor;
	border-bottom: 1px solid currentColor;
}

th,
td {
	padding: var(--space);
}

.alert {
	text-align: center;
	p {
		display: inline-block;
		padding: 16px;
		border-radius: 4px;
		box-shadow: 1px 1px 4px black;
	}
}

.error {
	background: var(--error-bg);
}

.success {
	background: var(--success-bg);
}

summary {
	text-transform: capitalize;
	font-weight: bold;
}
