@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

body {
	font-family: "Montserrat", sans-serif;
}

$headings: (
	h1: 2.5em,
	h2: 2em,
	h3: 1.75em,
	h4: 1.5rem,
	h5: 1.2rem,
	h6: 1rem,
);

@each $heading, $size in $headings {
	#{$heading},
	.#{$heading}-like {
		font-size: $size;
	}
}
