:root {
	--space: 8px;
}

*,
*::after,
*::before {
	box-sizing: border-box;
}

html,
body {
	width: 100%;
	height: 100%;
	margin: 0;
}

body {
	max-width: 80ch;
	margin: auto;
	background: url("../assets/texture-paper.png");
	background-size: 100vw 100vh;
}

img {
	width: 100%;
}

.topbar {
	display: flex;
	align-items: center;
	gap: var(--space);
}

.topbar > nav {
	display: flex;
	flex-grow: 1;
	justify-content: end;
	gap: var(--space);
}

.topbar > nav > a {
	padding: var(--space);
	color: #243cff;
	text-decoration: double underline;
}

.topbar a.is-active,
.topbar a:hover {
	text-decoration-style: wavy;
}

.brandname {
	width: 200px;
	margin: 0;
}

section {
	min-height: 100dvh;
}

#home {
	display: flex;
	place-items: center;
	place-content: center;
}
