:root {
	--space: 8px;
	--default-border-radius: 8px;
	--full-border-radius: 50%;
	--header-size: 60px;
}

html,
body {
	height: 100%;
	margin: 0;
	scroll-behavior: smooth;
	scroll-padding: calc(var(--header-size) + var(--space) * 2);
}

body {
	max-width: 80ch;
	margin: var(--space) auto;
}

body > header {
	margin-top: calc(var(--header-size) + var(--space) * 4);
	text-align: center;
}

body > header > img {
	border-radius: var(--full-border-radius);
	box-shadow: 2px 2px 2px #000000;
}

a {
	color: LinkText;
}

nav {
	display: flex;
	position: fixed;
	z-index: 1;
	top: var(--space);
	align-items: center;

	/* max-height: var(--header-size);
    min-height: var(--header-size); */
	margin-inline: var(--space);
	overflow: auto hidden;
	border: 1px solid;
	border-radius: var(--default-border-radius);
	background-color: rgb(255 255 255 / 75%);
	gap: var(--space);
}

nav a {
	display: inline-block;
	flex-shrink: 0;
	padding: calc(var(--space) * 2);
	color: #000000;
	text-decoration: none;
}

nav a:hover {
	color: LinkText;
}

section {
	height: 100vh;
	margin-top: calc(var(--header-size) + var(--space));
}

section {
	overflow: auto;
	border: 1px solid #e5e5e5;
	background-color: #f5f5f5;
}

section > h1 {
	position: sticky;
	top: 0;
	padding: calc(var(--space) * 2);
	background-color: #f5f5f5;
}

#details {
	padding: var(--space);
	border-radius: var(--default-border-radius);
}

#details > div {
	display: grid;
	grid-template-columns: 100px auto;
	gap: var(--space);
}

#details > div > p {
	margin: 0;
	padding: 0;
	padding-block: 4px;
}

#details > div > p:first-of-type {
	font-weight: 700;
}

#xp {
	display: flex;
	flex-direction: column;
	gap: calc(var(--space) * 4);
}

#xp article {
	display: flex;
	flex-direction: column;
	padding-inline: var(--space);
}

#xp article > header {
	display: flex;
	justify-content: space-between;
	gap: var(--space);
}

#xp article > header strong {
	flex-grow: 1;
}

#xp article > header time {
	color: #808080;
}

#xp p {
	margin-block: var(--space);
	hyphens: auto;
}
