html,
body {
	margin: 0;
	padding: 0;

	width: 100%;
	height: 100%;

	font-family: Roboto, sans-serif;
	font-size: 14px;

	color-scheme: dark light;
}

body {
	max-width: 80ch;
	margin-inline: auto;
}

main {
	margin-block: 10vh;
}

p {
	line-height: 1.75;
}

h1 {
	font-size: 2.2rem;
}
h2 {
	font-size: 1.75rem;
}
h3 {
	font-size: 1.5rem;
}
h4 {
	font-size: 1.2rem;
}
h5 {
	font-size: 1rem;
}
h6 {
	font-size: 0.9rem;
}

code {
	padding-inline: 0.2em;
	border: 1px ridge #3fa3bc;
	background-color: Highlight;
}

code[class] {
	padding-inline: initial;
	border: none;
	background-color: transparent !important;
}

pre {
	position: relative;
	background-color: #100f0f;
	line-height: 1.8;
}

.code-ignored {
	transition: all 250ms linear;
	opacity: 0.15;
}
.code-ignored:hover {
	opacity: 1;
}

.demo,
.demo > output {
	position: relative;
	display: flex;
	flex-direction: column;
	place-content: center;
	place-items: center;
	gap: 8px;
	padding: 8px;
	background-color: #100f0f;
}

.demo button[type="reset"] {
	position: absolute;
	top: 12px;
	align-self: end;
}

.circle-outline {
	position: relative;
	display: flex;
	flex-direction: column;
	place-content: center;
	place-items: center;
	width: 250px;
	height: 250px;
	margin-inline: auto;
	border: 3px solid #f47067;
	border-radius: 50%;
	transform: rotate(-90deg);
}

.circle-outline::before {
	content: attr(data-count);
	font-size: 12px;
	font-weight: bold;
	/* width: 30px;
	height: 30px; */
	padding: 16px;
	border-radius: 50%;
	text-align: center;
	transform: rotate(90deg);
	background-color: #6cb6ff;
	z-index: 99;
}

.circle-outline span {
	text-align: center;
}

.circle-outline pre {
	position: absolute;
	right: 5px;
	background-color: transparent;
}

.circle-outline span,
.circle-outline pre {
	transform: rotate(90deg);
}

.infinite-loop::before {
	animation: 2s while-true infinite linear;
}

.infinite-loop span {
	animation: 2s highlight infinite linear;
}

.while-10::before {
	animation: 1s while-true linear;
	animation-iteration-count: 10;
}

@keyframes while-true {
	from {
		transform: rotate(0deg) translate(125px) rotate(0deg);
	}

	to {
		transform: rotate(360deg) translate(120px) rotate(-360deg);
	}
}

@keyframes highlight {
	0% {
		opacity: 0.4;
		color: transparent;
	}
	50% {
		color: #73d7f0;
	}
	100% {
		opacity: 1;
		color: transparent;
	}
}
