/** Variables **/
:root {
	--space: 8px;
	--default-border-radius: 8px;

	--outline-color: var(--color-ultra-lightcyan);

	--color-black: #212121;
	--color-white: Canvas;
	--color-lightgray: #e5e5e5;
	--color-gray: #c5bfbf;

	--color-ultra-lightcyan: #b3dff3;
	--color-lightcyan: #93bfd3;
	--color-cyan: #56707c;
	--color-darkcyan: #455a64;
	--color-ultra-darkcyan: #3b484e;

	--color-ultra-lightblue: #d3deed;
	--color-lightblue: #aecaf0;
	--color-blue: #1861af;

	--color-darkred: #a0090e;
	--color-darkgreen: #057009;
}

/** Bases */

*,
*::after,
*::before {
	box-sizing: border-box;
}

*:not(input, textarea):focus-visible {
	outline: 3px solid var(--outline-color);
}

html,
body {
	margin: 0;
	padding: 0;
	font-family: Roboto, sans-serif;
	font-size: 14px;
	line-height: 1.4;
	background-color: var(--color-ultra-lightcyan);
	color: var(--color-black);
	scroll-behavior: smooth;
	scroll-padding-top: 8px;
	max-width: 80ch;
	margin: auto;
}

a {
	text-decoration: underline;
}

h1,
h2 {
	color: var(--color-darkcyan);
}

h1 {
	font-size: 2rem;
}

h2 {
	font-size: 1.5rem;
}

table {
	border-collapse: collapse;
	border: 1px solid;
}

thead {
	background: var(--color-black);
	color: var(--color-white);
}

tbody td {
	border-inline: 1px solid var(--color-gray);
	border-bottom: 1px solid var(--color-gray);
}
tbody tr {
	background: var(--color-white);
}
tbody tr:nth-child(odd) {
	background: var(--color-ultra-lightblue);
}
tbody tr:hover {
	background: var(--color-lightblue);
}

th,
td {
	padding: 8px;
}

label[for] {
	cursor: pointer;
}

/** 
 * Barre horizontale de navigation
 */

.header-nav {
	display: flex;
	align-items: center;

	justify-content: space-between;
	padding: var(--space);

	background: var(--color-black);
	color: var(--color-white);
	margin: 4px;
	margin-bottom: 64px;
	border-radius: 24px;
	border-top-right-radius: 8px;
	border-bottom-right-radius: 8px;
}

.avatar {
	display: flex;
	padding: 4px;
	color: var(--color-black);
	border-radius: 20px;
	transition: all 250ms ease-in-out, border-radius 500ms ease-in-out,
		background-color 400ms ease-in-out;
}

.avatar:hover {
	background: var(--color-white);
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
}

.avatar figure {
	display: inline-flex;
	align-items: center;
	gap: calc(var(--space) * 2);
	margin: 0;
	padding: 0;
}

.avatar img {
	--img-filter: var(--color-darkred);
	width: 40px;
	height: 40px;
	object-fit: cover;
	border-radius: 50%;
	flex-shrink: 0;
	filter: drop-shadow(0px 2px 3px var(--img-filter));
}
.avatar:hover img {
	--img-filter: var(--color-darkgreen);
}

.avatar figcaption {
	visibility: hidden;

	width: 0;
	transition: all 300ms ease-in-out;
}
.avatar:hover figcaption {
	visibility: visible;

	width: 100%;
	padding-right: 8px;
}

.avatar a {
	color: var(--color-black);
	font-weight: bold;
	text-decoration: none;
}
.avatar a:hover {
	color: LinkText;
}

nav[role="navigation"] {
	display: flex;
	gap: calc(var(--space) * 2);
}

nav > a {
	transition: all 250ms;
	display: inline-block;
	padding: var(--space);
	text-decoration: none;
	color: var(--color-white);
	background: #212121;
	border-radius: var(--default-border-radius);
}

nav > a:hover {
	background: var(--color-darkcyan);
	color: var(--color-ultra-lightcyan);
}

/** Table */

.project-description {
	width: 65%;
	text-align: left;
}

/** Section */

section {
	margin-inline: 32px;
	margin-bottom: 64px;
}

section p {
	margin: 0;
}

section a {
	--outline-color: currentColor;
	border-bottom: 1px solid currentColor;
}

/** Contact */

#contact form {
	margin-top: calc(var(--space) * 4);
	display: flex;
	flex-direction: column;
	gap: calc(var(--space) * 2);
	background: transparent;
}

#contact fieldset {
	margin: 0;
	padding: 0;
	border: 0;
}
#contact fieldset:first-of-type {
	display: flex;
	flex-wrap: wrap;
	gap: calc(var(--space) * 2);
}
#contact .text-input {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	gap: var(--space);
}

#contact legend {
	margin: auto;
	margin-block: calc(var(--space) * 3);
	padding-inline: var(--space);
	font-size: 2rem;
}

#contact textarea {
	width: 100%;
	min-height: 150px;
}

#contact :is(input, textarea, button[type="submit"]) {
	padding: 8px;
	border-radius: 4px;
	border: 0;
	background-color: var(--color-white);
	font-size: 16px;
}

#contact :is(input, textarea, button[type="submit"]):hover,
#contact :is(input, textarea, button[type="submit"]):focus {
	outline: 3px solid var(--color-cyan);
}

#contact :is(input, textarea, button[type="submit"]):placeholder-shown {
	color: var(--color-black);
}

#contact button[type="submit"] {
	display: inline-block;
	width: 100%;
	padding: calc(var(--space) * 2);
	cursor: pointer;
}
