@keyframes border-shadow {
  10% {
    box-shadow: 0 0 8px 3px #6b397f;
  }
  25% {
    box-shadow: 0 0 8px 3px #ae4396;
  }
  50% {
    box-shadow: 0 0 8px 3px #c33844;
  }
  60% {
    box-shadow: 0 0 8px 3px #38c3ac;
  }
  70% {
    box-shadow: 0 0 8px 3px #2f4ebc;
  }
  80% {
    box-shadow: 0 0 8px 3px #c3b738;
  }
  90% {
    box-shadow: 0 0 8px 3px #171716;
  }
}
