@keyframes shake {
  0% {
    transform: translateX(-2%);
    margin-left: 0;
  }
  25% {
    margin-left: 0.5rem;
  }
  75% {
    margin-left: -0.5rem;
  }
  100% {
    transform: translateX(2%);
    margin-left: 0;
  }
}
