/**
 * Les variables CSS
 */
:root {
  @media (prefers-color-scheme: dark) {
    --body-bg: #111111;
    --text: #f5f5f5;
    --text-alt: #111111;
    --link-color: #f5f5f5;
  }

  @media (prefers-color-scheme: light) {
    --body-bg: #f5f5f5;
    --text: #212121;
    --text-alt: #f5f5f5;
    --link-color: #212121;
  }

  --default-radius: 4px;
  --space1: 0.5rem; /* 8px */
  --space2: 1rem; /* 16px */
  --space3: 1.5rem; /* 24px */
}
