/**
 * Concerne le style de la page "About".
 */

#about {
	display: flex;

	/* Afin l'image soit placée en première position, utilisée essentiellement
	   pour garder une meilleur "sémantique" au niveau de l'HTML. */
	flex-direction: row-reverse;

	gap: var(--space);
	max-width: 80ch;
}

#about img {
	max-width: 150px;
	max-height: 500px;

	margin-top: 70px;

	/* Maintient le ratio de l'affichage de l'image en remplissant la boîte de
       contenu. */
	object-fit: cover;
}

#about .wrapper {
	/* Pour que le contenu principale de cette page prenne toute la largeur
	   automatiquement avec Flex */
	flex-grow: 1;
}
