/* ====================================
CSS setup – ne rien modifier
éditer plus bas
* ==================================== */
html,
body {
	color-scheme: dark light;
}

body {
	margin: 0;
	padding: 0;
	border: 0;
}

section {
	min-height: 100vh;
}

div {
	background-color: #d3d3d3;
}

div:nth-of-type(5n + 1) {
	background-color: #1abc9c;
}

div:nth-of-type(5n + 2) {
	background-color: #3498db;
}

div:nth-of-type(5n + 3) {
	background-color: #9b59b6;
}

div:nth-of-type(5n + 4) {
	background-color: #e67e22;
}

div:nth-of-type(5n) {
	background-color: #e74c3c;
}

span {
	display: block;
	width: 3em;
	height: auto;
	border-radius: 50%;
	background-color: rgb(255 255 255 / 50%);
	font-size: 48px;
	line-height: 3em;
	text-align: center;
}

/* ====================================
éditer à partir d'ici
* ==================================== */

section {
	--col: auto;

	display: grid;
	grid-template-columns: repeat(--col, 1fr);
	gap: 8px;
}

section > div {
	display: grid;
	place-items: center;
	padding: 8px;
}

section > div:nth-child(5) {
	grid-column: span var(--col);
}

@media screen and (width >= 600px) {
	section {
		--col: 4;
	}
}

@media screen and (width >= 1024px) {
	section {
		--col: 2;
	}
}
